/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
a {
  outline: none;
  color: #fff;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

figure {
  position: absolute; }

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none !important; }

body {
  position: relative;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
  font-size: 0; }

.clearfix {
  display: inline-block; }

.clearfix {
  height: 1%; }

.clearfix {
  display: flow-root; }

input[type=button],
input[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

button {
  outline: none; }

iframe:focus {
  outline: none; }

iframe[seamless] {
  display: block; }

progress {
  display: block;
  /* default: inline-block */
  margin: 2em auto;
  padding: 4px;
  border: 0 none;
  background: currentColor;
  border-radius: 14px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2); }

progress::-moz-progress-bar {
  border-radius: 12px;
  background: currentColor;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3); }

progress::-webkit-progress-bar {
  border-radius: 12px;
  background: currentColor;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3); }

progress::-webkit-progress-bar {
  background: transparent; }

progress::-webkit-progress-value {
  border-radius: 12px;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3); }

input[type='button'],
input[type='submit'],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

.game-menu {
  position: absolute;
  top: 20%;
  left: 6%;
  width: 50px;
  height: 50px;
  background-image: url("../images/icon2.svg");
  z-index: 999999;
  background-size: 430%;
  background-position: -3px -192px;
  background-color: #fce4ec;
  border: 3px solid #f06292;
  border-radius: 100px;
  animation: gamemenu 1s linear infinite; }

.aside-boxcontrol {
  position: absolute;
  top: 29%;
  left: 7%;
  display: block;
  width: 50px;
  height: 211px;
  z-index: 999;
  transition: all .3s ease-in-out; }
  .aside-boxcontrol .aside-menu .nav {
    border-radius: 100px;
    position: absolute; }
  .aside-boxcontrol .aside-menu .icon-todo {
    width: 100%;
    height: 50px;
    background-image: url("../images/icon2.svg");
    background-color: lightyellow;
    text-align: center;
    line-height: 10px;
    border: 3px solid pink;
    background-position: 0px -5px;
    background-size: 400%;
    transition: all 1s ease-in-out;
    cursor: pointer; }
    .aside-boxcontrol .aside-menu .icon-todo:hover {
      background-color: palevioletred;
      animation: todolist 0.5s steps(3) forwards; }
@keyframes todolist {
  from {
    background-position: 0px -5px; }
  to {
    background-position: -133px -5px; } }
      .aside-boxcontrol .aside-menu .icon-todo:hover .pos {
        display: block; }
  .aside-boxcontrol .aside-menu .icon-personal {
    width: 100%;
    height: 50px;
    background: url("../images/icon2.svg"), lightyellow no-repeat;
    border: 3px solid pink;
    background-position: -3px -51px;
    background-size: 430%;
    transition: all 1s ease-in-out;
    cursor: pointer; }
    .aside-boxcontrol .aside-menu .icon-personal:hover .pos1 {
      display: block; }
  .aside-boxcontrol .aside-menu .icon-service {
    width: 100%;
    height: 50px;
    transition: all 1s ease-in-out;
    background-image: url("../images/icon2.svg");
    background-color: lightyellow;
    border: 3px solid pink;
    background-position: -3px -97px;
    background-size: 430%;
    cursor: pointer; }
    .aside-boxcontrol .aside-menu .icon-service:hover {
      background-color: palevioletred;
      animation: iconservice 0.5s steps(3) forwards; }
@keyframes iconservice {
  from {
    background-position: -3px -97px; }
  to {
    background-position: -143px -97px; } }
      .aside-boxcontrol .aside-menu .icon-service:hover .pos2 {
        display: block; }

.icon-calendar {
  top: 33%;
  left: 0%;
  width: 100%;
  height: 50px;
  background: url("../images/icon2.svg"), lightyellow no-repeat;
  text-align: center;
  border: 3px solid pink;
  line-height: 10px;
  background-position: 0px -5px;
  background-size: 400%;
  cursor: pointer; }

/*# sourceMappingURL=aside.css.map */
