/* beast */

@import './color';
@import './prefix';
.beast-btn {
    background: brown;
    .beast-box {
        grid-column: 2/3;
        background: brown;
        grid-row: 1/2;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        transform-style: preserve-3d;
        perspective: 1000px;
        transform-origin: center;
        transform: rotatex(180deg);
        backface-visibility: hidden;
        transition: all 1s linear;
    }
    .beast-box2 {
        transition: all 1s linear;
        grid-column: 2/3;
        background: brown;
        background-size: contain;
        grid-row: 1/2;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        perspective: 1000px;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        transform-origin: center;
        -webkit-transform: rotatex(1deg);
        -ms-transform: rotatex(1deg);
        transform: rotatex(1deg);
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }
    .beast-lowbox {
        width: 38%;
        height: 100%;
        color: #bbdefb;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: baseline;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-shadow: 0px 0px 3px #1565c0;
        .beast-name {
            display: inline-block;
            width: 100%;
            height: 2em;
            color: white;
            text-align: center;
            line-height: 25px;
            font-size: 10px;
        }
        .beast-photo {
            width: 100%;
            max-width: 100px;
            align-self: center;
        }
        .beast-profile {
            font-size: 10px;
        }
        .beast-status {
            display: block;
            overflow: scroll;
            padding: 2px;
            width: 100%;
            height: auto;
            .beast-info {
                font-family: "Cutive Mono", monospace;
                font-size: 10px;
                margin: 0 0 0.5em;
                white-space: pre-wrap;
                word-break: break-all;
            }
        }
    }
    .beast-bg {
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
        position: absolute;
        top: 70%;
        left: 50%;
        .beast-bg2 {
            position: absolute;
            top: 0%;
            left: 0%;
            width: 100px;
            height: 100px;
            @include border-radius(100px);
            background-color: linear-gradient(to top, $pink3 40%, $pink8 60%);
            background-image: url('../images/earth.png');
            @include animation(beastbg2 90s linear infinite);
            background-blend-mode: overlay;
            @keyframes crazybg2 {
                0% {
                    border: 1px solid $pink2;
                    background-position-y: 900%;
                    box-shadow: 0px 0px 4px 4px $pink6;
                }
                20% {
                    border: 1px solid $pink2;
                    background-position-y: 1800%;
                    box-shadow: -2px -2px 2px 2px $pink6;
                }
                40% {
                    border: 1px solid $pink2;
                    background-position-y: 2700%;
                    box-shadow: 0px 0px 4px 4px $pink6;
                }
                60% {
                    border: 1px solid $pink2;
                    background-position-y: 3600%;
                    box-shadow: 2px 2px 2px 2px $pink6;
                }
                80% {
                    border: 1px solid $pink2;
                    background-position-y: 4500%;
                    box-shadow: 0px 0px 4px 4px $pink6;
                }
                100% {
                    border: 1px solid $pink2;
                    background-position-y: 5400%;
                    box-shadow: 2px 2px 2px 2px $pink6;
                }
            }
        }
    }
}

.btn-pos4 {
    background: indianred;
    font-size: 10px;
    line-height: 22px;
    color: red;
    left: 21.5%;
    top: 63%;
}

.beast-boxcontrol {
    position: absolute;
    top: 50%;
    left: 22%;
    margin: -15px 0 0 -15px;
    z-index: 99999;
    width: 30px;
    height: 30px;
    transform-style: preserve-3d;
    perspective: 1000px;
    @include animation(beastboxcontrol 2s linear infinite);
    @keyframes beastboxcontrol {
        40% {
            transform: translatex(-6px);
        }
        80% {
            transform: translateX(6px);
        }
    }
    .beast-sensor-top {}
    .beast-sensor-left {}
    .beast-sensor-right {}
    .beast-head {
        position: absolute;
        top: -5px;
        left: 3px;
        width: 36px;
        height: 37px;
        border-radius: 0 0 5px 5px;
        background: $orange5;
        transform-origin: center bottom;
        transition: all 1s linear;
        @include animation(beasthead 1s linear infinite);
        @keyframes beasthead {
            40% {
                transform: rotateZ(10deg)translateX(1px);
                background: linear-gradient(to bottom, red, 10%, orange);
            }
            50% {
                transform: rotateZ(10deg)translateX(-1px);
                background: linear-gradient(to bottom, red, 20%, orange);
            }
            60% {
                transform: rotateZ(10deg)translateX(1px);
                background: linear-gradient(to bottom, red, 30%, orange);
            }
            70% {
                transform: rotateZ(10deg)translateX(-1px);
                background: linear-gradient(to bottom, red, 40%, orange);
            }
            80% {
                transform: rotateZ(10deg)translateX(-1px);
                background: linear-gradient(to bottom, red, 30%, orange);
            }
            90% {
                transform: rotateZ(10deg)translateX(-1px);
                background: linear-gradient(to bottom, red, 20%, orange);
            }
        }
        .beast-hair {
            position: absolute;
            top: -9px;
            left: 0px;
            width: 36px;
            height: 10px;
            background: #fff59d;
        }
        .beast-eyebrow {
            position: absolute;
            top: 10px;
            left: 1px;
            width: 16px;
            height: 3px;
            border-radius: 0 5px 0 5px;
            background: $yellow7;
            transform: rotatez(30deg);
            transform-origin: right center;
            .beast-eye {
                position: absolute;
                top: 1px;
                left: 2px;
                overflow: hidden;
                width: 13px;
                height: 7px;
                border-radius: 0px 5px 0 5px;
                background: white;
                -ms-transform: rotate(-29deg);
                -webkit-transform: rotatez(-29deg);
                transform: rotatez(-29deg);
                @include animation(beasteye 1s linear infinite);
                @keyframes beasteye {
                    40% {
                        top: 3px;
                        height: 4px;
                    }
                }
                .beast-eyeball {
                    position: absolute;
                    top: 1px;
                    left: 5px;
                    width: 4px;
                    height: 4px;
                    border-radius: 10px;
                    background: brown;
                }
            }
        }
        .beast-eyebrow2 {
            position: absolute;
            top: 10px;
            left: 22px;
            width: 13px;
            height: 3px;
            border-radius: 0 5px 0 5px;
            background: #fff59d;
            transform: rotatez(-30deg);
            transform-origin: left center;
            .beast-eye2 {
                position: absolute;
                top: 4px;
                left: 0px;
                overflow: hidden;
                width: 12px;
                height: 2px;
                border-radius: 20px;
                background: white;
                transform: rotatez(30deg);
                @include animation(beasteye2 1s linear infinite);
                @keyframes beasteye2 {
                    60% {
                        top: 1px;
                        left: -1px;
                        height: 7px;
                    }
                }
                .beast-eyeball2 {
                    position: absolute;
                    top: -1px;
                    left: 4px;
                    width: 4px;
                    height: 4px;
                    border-radius: 10px;
                    background: brown;
                    @include animation(beasteyeball2 1s linear infinite);
                    @keyframes beasteyeball2 {
                        60% {
                            top: 1px;
                        }
                    }
                }
            }
        }
        .beast-nose {
            position: absolute;
            top: 15px;
            left: 14px;
            width: 9px;
            height: 10px;
            border-right: 2px solid orange;
            border-bottom: 2px solid orange;
            border-left: 2px solid orange;
            background: $orange2;
            @include animation(beastnose 1s linear infinite);
            @keyframes beastnose {
                60% {
                    border-right: 1px solid orange;
                    border-left: 1px solid orange;
                    top: 13px;
                }
            }
        }
        .beast-lips {
            position: absolute;
            top: 24px;
            left: 9px;
            .beast-mouth {
                position: absolute;
                top: 1px;
                left: 1px;
                z-index: 999;
                width: 16px;
                height: 6px;
                border-radius: 0 0 5px 5px;
                background: #d32f2f;
                @include animation(beastmouth 1s linear infinite);
                @keyframes beastmouth {
                    80% {
                        height: 18px;
                        top: -1px;
                    }
                }
                .beast-teeth {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 16px;
                    height: 2px;
                    background: white;
                }
                .beast-tougn {
                    position: absolute;
                    top: 4px;
                    left: 3px;
                    width: 10px;
                    height: 2px;
                    border-radius: 0 0 5px 5px;
                    background: red;
                    -webkit-transform-origin: center top;
                    -ms-transform-origin: center top;
                    transform-origin: center top;
                    @include animation(beasttougn 1s linear infinite);
                    @keyframes beasttougn {
                        70% {
                            height: 14px;
                        }
                    }
                }
            }
        }
        .beast-ear {
            position: absolute;
            top: 9px;
            left: -4px;
            width: 4px;
            height: 15px;
            border-radius: 3px 0 0 3px;
            background: $orange4;
        }
        .beast-ear2 {
            position: absolute;
            top: 9px;
            left: 36px;
            width: 4px;
            height: 14px;
            border-radius: 0 3px 3px 0;
            background: $orange4;
        }
        .beast-face-side {
            position: absolute;
            top: 15px;
            left: 0px;
            width: 14px;
            height: 5px;
            border-radius: 0 0 0 5px;
            background: $orange3;
        }
        .beast-face-side2 {
            position: absolute;
            top: 14px;
            left: 23px;
            width: 14px;
            height: 5px;
            border-radius: 0 0 5px 0;
            background: $orange3;
        }
        .beast-jaw {
            position: absolute;
            top: 34px;
            left: 10px;
            z-index: 99;
            width: 16px;
            height: 10px;
            border-radius: 0 0 5px 5px;
            background: $orange4;
        }
    }
    .beast-neck {
        position: absolute;
        top: 30px;
        left: 7px;
        z-index: -1;
        width: 27px;
        height: 13px;
        background: $orange6;
        @include animation(beastneck 1s linear infinite);
        @keyframes beastneck {
            to {
                background: linear-gradient(to bottom, $red9, $orange9)
            }
        }
    }
    .beast-body {
        position: absolute;
        top: 42px;
        left: -11px;
        width: 58px;
        border-top: 33px solid $orange6;
        border-right: 6px solid transparent;
        border-left: 6px solid transparent;
        @include animation(beastbody 1s linear infinite);
        @keyframes beastbody {
            20% {
                transform: translateY(-1px);
                border-top: 33px solid darkorange;
            }
            40% {
                transform: translateY(1px);
            }
            60% {
                transform: translateY(-1px);
                border-top: 33px solid orangered;
            }
            80% {
                transform: translateY(1px)
            }
        }
    }
    .beast-triangle {
        position: absolute;
        top: -39px;
        left: -3px;
        width: 18px;
        height: 16px;
        border-radius: 5px 5px 0 0;
        background: #ff9800;
        @include animation(beasttriangle .5s linear infinite);
        @keyframes beasttriangle {
            40% {
                top: -42px;
                height: 18px;
                background: linear-gradient(to bottom, $red7, 30%, orange)
            }
        }
    }
    .beast-triangle2 {
        position: absolute;
        top: -40px;
        left: 37px;
        width: 16px;
        height: 16px;
        border-radius: 5px 5px 0 0;
        background: #ff9800;
        @include animation(beasttriangle2 .5s linear infinite);
        @keyframes beasttriangle2 {
            80% {
                top: -42px;
                height: 18px;
                background: linear-gradient(to bottom, $red7, 30%, orange);
            }
        }
    }
    .beast-tatoo {
        position: absolute;
        top: -37px;
        left: 16px;
        z-index: 999;
        font-size: 30px;
    }
    .beast-chest {
        position: absolute;
        top: -28px;
        left: 2px;
        width: 20px;
        height: 10px;
        border-radius: 0 0 0 10px;
        background: #ffb74d;
        transition: all 1s linear;
        @include animation(beastchest 1s linear infinite);
        @keyframes beastchest {
            40% {
                top: -36px;
                height: 16px;
                background: linear-gradient(to bottom, white, orange);
            }
        }
    }
    .beast-chest2 {
        position: absolute;
        top: -28px;
        left: 29px;
        width: 19px;
        height: 10px;
        border-radius: 0 0 10px 0;
        background: #ffb74d;
        transition: all 1s linear;
        @include animation(beastchest2 1s linear infinite);
        @keyframes beastchest2 {
            80% {
                top: -36px;
                height: 17px;
                background: linear-gradient(to bottom, white, orange);
            }
        }
    }
    .beast-arm {
        position: absolute;
        top: -33px;
        left: -13px;
        width: 13px;
        height: 10px;
        border-radius: 5px 0 0 0;
        background: #ff9800;
        -ms-transform-origin: right center;
        transform-origin: right center;
        @include animation(beastarm 1s linear infinite);
        @keyframes beastarm {
            10%,
            20%,
            30% {
                transform: rotateZ(132deg)
            }
            40%,
            50%,
            60% {
                transform: rotateZ(153deg)
            }
            70% {
                transform: rotateZ(132deg)
            }
            80% {
                transform: rotateZ(153deg)
            }
            90% {
                transform: rotateZ(132deg)
            }
            100% {
                transform: rotateZ(153deg)
            }
        }
        .beast-bicep {
            position: absolute;
            top: 10px;
            left: 0px;
            width: 13px;
            height: 19px;
            border-radius: 3px;
            background: #ffa726;
            .beast-lowarm {
                position: absolute;
                top: 19px;
                left: 0px;
                z-index: 9999999;
                width: 12px;
                height: 18px;
                background: #ff9800;
                transform-origin: center top;
                transform: rotatez(-198deg);
                @include animation(beastlowarm 1s linear infinite);
                @keyframes beastlowarm {
                    10%,
                    20%,
                    30%,
                    40%,
                    50%,
                    60%,
                    70%,
                    80%,
                    90%,
                    100% {
                        transform: rotateZ(-279deg);
                    }
                }
                .beast-hand {
                    position: absolute;
                    top: 14px;
                    left: 0px;
                    width: 12px;
                    height: 10px;
                    border-radius: 5px;
                    background: #ffb74d;
                }
            }
        }
    }
    .beast-arm2 {
        position: absolute;
        top: -34px;
        left: 48px;
        z-index: 9999;
        width: 12px;
        height: 10px;
        border-radius: 0 5px 0 0;
        background: #ff9800;
        -ms-transform-origin: left center;
        transform-origin: left center;
        transform: rotateZ(57deg);
        @include animation(beastarm2 1s linear infinite);
        @keyframes beastarm2 {
            10%,
            20%,
            30%,
            40%,
            50%,
            60%,
            70%,
            80%,
            90%,
            100% {
                transform: rotateZ(123deg)
            }
        }
        .beast-bicep2 {
            position: absolute;
            top: 10px;
            left: 0px;
            width: 12px;
            height: 21px;
            border-radius: 3px;
            background: #ffa726;
            .beast-lowarm2 {
                position: absolute;
                top: 20px;
                left: 0px;
                width: 11px;
                height: 17px;
                background: #ff9800;
                transform: rotatez(0deg)rotateX(0deg);
                transform-origin: center top;
                transform: rotateZ(106deg);
                @include animation(beastlowarm2 1s linear infinite);
                @keyframes beastlowarm2 {
                    10%,
                    20%,
                    30% {
                        transform: rotateZ(21deg)
                    }
                    40%,
                    50%,
                    60% {
                        transform: rotateZ(33deg);
                    }
                    70% {
                        transform: rotateZ(21deg)
                    }
                    80% {
                        transform: rotateZ(33deg)
                    }
                    90% {
                        transform: rotateZ(21deg)
                    }
                    100% {
                        transform: rotateZ(33deg)
                    }
                }
                .beast-hand2 {
                    position: absolute;
                    top: 13px;
                    left: 0px;
                    width: 11px;
                    height: 10px;
                    border-radius: 5px 5px 5px 5px;
                    background: #ffb74d;
                }
            }
        }
    }
    /*beast arm2*/
    .beast-peegu {
        position: absolute;
        top: 70px;
        left: -6px;
        width: 48px;
        height: 22px;
        background: red;
        transform-origin: center top;
        .beast-champ-line {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 48px;
            height: 11px;
            background: $yellow4;
            .beast-champ {
                position: absolute;
                top: -14px;
                left: 5px;
                z-index: 9999;
                width: 40px;
                height: 40px;
                border: 1px solid $yellow2;
                border-radius: 30px;
                background: $yellow7;
                text-align: center;
                font-size: 20px;
                font-family: impact;
                line-height: 40px;
                transition: all 1s linear;
                @include animation(beastchamp 1s linear infinite);
                @keyframes beastchamp {
                    40% {
                        background: white;
                    }
                }
            }
        }
        .beast-leg {
            position: absolute;
            top: 19px;
            left: 5px;
            width: 19px;
            height: 13px;
            background: #ff9800;
            transform-origin: center top;
            transform: rotateZ(43deg);
            @include animation(beastleg 1s linear infinite);
            @keyframes beastleg {
                60% {
                    transform: rotateZ(67deg)
                }
            }
        }
        .beast-short {
            position: absolute;
            top: 0px;
            left: -5px;
            z-index: 999;
            width: 26px;
            height: 16px;
            background: red;
        }
        .beast-legguto {
            position: absolute;
            top: 13px;
            left: 0px;
            width: 15px;
            height: 7px;
            border-radius: 0 0 5px 5px;
            background: red;
            transform-origin: center top;
            transform: rotateZ(-52deg)
        }
        .beast-lowleg {
            position: absolute;
            top: 5px;
            left: 2px;
            width: 10px;
            height: 6px;
            background: #ff9800;
            transform-origin: center top;
            .beast-shoe {
                position: absolute;
                top: 6px;
                left: -1px;
                width: 11px;
                height: 7px;
                background: red;
                -ms-transform-origin: center top;
                transform-origin: center top;
                .beast-shoefoot {
                    position: absolute;
                    top: 7px;
                    left: 0px;
                    width: 11px;
                    height: 11px;
                    background: red;
                    .beast-shoefootfront {
                        position: absolute;
                        top: 0px;
                        left: 2px;
                        z-index: -9999;
                        width: 10px;
                        height: 15px;
                        border-radius: 15px 0;
                        background: red;
                        transform: rotatez(29deg);
                        transform-origin: center top;
                    }
                }
            }
        }
        /* beast-leg*/
        .beast-leg2 {
            position: absolute;
            top: 22px;
            left: 27px;
            width: 15px;
            height: 16px;
            background: #ff9800;
            transform-origin: center top;
            transform: rotateZ(-29deg);
            @include animation(beastleg2 1s linear infinite);
            @keyframes beastleg2 {
                30% {
                    transform: rotateZ(-52deg)
                }
            }
            .beast-short2 {
                position: absolute;
                top: -3px;
                left: -4px;
                width: 25px;
                height: 16px;
                background: red;
            }
            .beast-legguto2 {
                position: absolute;
                top: 11px;
                left: 0px;
                width: 15px;
                height: 5px;
                border-radius: 0 0 5px 5px;
                background: red;
                transform: rotateZ(30deg);
                .beast-lowleg2 {
                    position: absolute;
                    top: 4px;
                    left: 2px;
                    width: 10px;
                    height: 6px;
                    background: orange;
                    .beast-shoe2 {
                        position: absolute;
                        top: 6px;
                        left: 0px;
                        width: 11px;
                        height: 10px;
                        background: red;
                        transform-origin: center top;
                        .beast-shoefoot2 {
                            position: absolute;
                            top: 7px;
                            left: 0px;
                            width: 11px;
                            height: 10px;
                            background: red;
                            transform-origin: center top;
                            .beast-shoefootfront2 {
                                position: absolute;
                                top: 5px;
                                left: -2px;
                                z-index: -99999;
                                width: 10px;
                                height: 14px;
                                border-radius: 0px 15px;
                                background: red;
                                -ms-transform: rotate(63deg);
                                transform: rotatez(-49deg);
                                -ms-transform-origin: center top;
                                transform-origin: center top;
                            }
                        }
                    }
                }
            }
        }
    }
    .beast-effect1 {}
    .beast-effect2 {}
    .beast-effect3 {}
    .beast-effect4 {}
    .beast-effect5 {}
    .beast-effect6 {}
    .beast-effect7 {}
    .beast-effect8 {}
    .beast-effect9 {}
    .beast-effect10 {}
    .beast-effect11 {}
    .beast-weapon {
        position: absolute;
        left: -31px;
        top: -54px;
        z-index: 999999999999999;
        width: 6px;
        height: 98px;
        background: #5d4037;
        transform-origin: bottom;
        transform: rotateZ(82deg)translateZ(80px);
        @include animation(beastweapon 1s linear infinite);
        @keyframes beastweapon {
            10%,
            20%,
            30% {
                transform: rotateZ(-44deg)translatex(37px)translatey(20px) translateZ(80px);
            }
            40%,
            50%,
            60% {
                transform: rotateZ(-21deg)translatex(41px)translatey(6px) translateZ(80px);
            }
            70% {
                transform: rotateZ(-44deg)translatex(37px)translatey(20px) translateZ(80px);
                background: linear-gradient(to bottom, $red9, 20%, $brown4);
            }
            80% {
                transform: rotateZ(-21deg)translatex(41px)translatey(6px) translateZ(80px);
                background: linear-gradient(to bottom, $red9, 30%, $brown4)
            }
            90% {
                transform: rotateZ(-44deg)translatex(37px)translatey(20px) translateZ(80px);
                background: linear-gradient(to bottom, $red9, 40%, $brown4);
            }
            100% {
                transform: rotateZ(-21deg)translatex(41px)translatey(6px) translateZ(80px);
                background: linear-gradient(to bottom, $red9, 30%, $brown4)
            }
        }
        .beast-weapon-head {
            position: absolute;
            top: -4px;
            left: -10px;
            width: 25px;
            height: 18px;
            border: 1px solid white;
            background: black;
            @include animation(beastweaponhead 1s linear infinite);
            @keyframes beastweaponhead {
                10%,
                20%,
                30%,
                40%,
                50%,
                60% {
                    background: linear-gradient(to left, black, 10%, white);
                }
                70% {
                    background: linear-gradient(to left, black, 30%, white);
                }
                80% {
                    background: linear-gradient(to left, black, 50%, white);
                }
                90% {
                    background: linear-gradient(to left, black, 70%, white);
                }
                100% {
                    background: linear-gradient(to left, black, 90%, white);
                }
            }
        }
    }
}

.beast-arm1 {
    position: absolute;
    top: 32px;
    left: -21px;
    width: 13px;
    height: 10px;
    border-radius: 5px 0 0 0;
    background: #ff9800;
    -ms-transform-origin: right center;
    transform-origin: right center;
    .beast-bicep1 {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 13px;
        height: 19px;
        border-radius: 3px;
        background: #ffa726;
        .beast-lowarm1 {
            position: absolute;
            top: 19px;
            left: 0px;
            z-index: 9999999;
            width: 12px;
            height: 18px;
            background: #ff9800;
            transform-origin: center top;
            .beast-hand1 {
                position: absolute;
                top: 14px;
                left: 0px;
                width: 12px;
                height: 10px;
                border-radius: 5px;
                background: #ffb74d;
            }
        }
    }
}

.beast-arm21 {
    position: absolute;
    top: 32px;
    left: 49px;
    z-index: 9999;
    width: 12px;
    height: 10px;
    border-radius: 0 5px 0 0;
    background: #ff9800;
    -ms-transform-origin: left center;
    transform-origin: left center;
    .beast-bicep21 {
        position: absolute;
        top: 10px;
        left: 0px;
        width: 12px;
        height: 21px;
        border-radius: 3px;
        background: #ffa726;
        .beast-lowarm21 {
            position: absolute;
            top: 20px;
            left: 0px;
            width: 11px;
            height: 17px;
            background: #ff9800;
            transform: rotatez(0deg)rotateX(0deg);
            transform-origin: center top;
            .beast-hand21 {
                position: absolute;
                top: 13px;
                left: 0px;
                width: 11px;
                height: 10px;
                border-radius: 5px 5px 5px 5px;
                background: #ffb74d;
            }
        }
    }
}

.beast-leg1 {
    position: absolute;
    top: 92px;
    left: -1px;
    width: 15px;
    height: 13px;
    background: #ff9800;
    transform-origin: center top;
    .beast-short1 {
        position: absolute;
        top: 0px;
        left: -5px;
        z-index: 999;
        width: 26px;
        height: 9px;
        background: red;
        animation: beastshort1 1s linear infinite;
        @keyframes beastshort1 {
            70%,
            80%,
            100% {}
        }
    }
}

.beast-legguto1 {
    position: absolute;
    top: 102px;
    left: -2px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    background: red;
    transform-origin: center top;
}

.beast-lowleg1 {
    position: absolute;
    top: 109px;
    left: 1px;
    width: 10px;
    height: 6px;
    background: red;
    transform-origin: center top;
    .beast-shoe1 {
        position: absolute;
        top: 6px;
        left: -1px;
        width: 11px;
        height: 7px;
        background: red;
        -ms-transform-origin: center top;
        transform-origin: center top;
        animation: beastshoe1 1s linear infinite;
        @keyframes beastshoe1 {}
        .beast-shoefoot1 {
            position: absolute;
            top: 7px;
            left: 0px;
            width: 11px;
            height: 11px;
            background: red;
            animation: beastshoe1 1s linear infinite;
            .beast-shoefootfront1 {
                position: absolute;
                top: 0px;
                left: 2px;
                z-index: -9999;
                width: 10px;
                height: 15px;
                border-radius: 15px 0;
                background: red;
                transform: rotatez(29deg);
                transform-origin: center top;
                animation: beastshoefootfront1 1s linear infinite;
                @keyframes beastshoefootfront1 {
                    70%,
                    80%,
                    100% {}
                }
            }
        }
    }
}

.beast-leg21 {
    position: absolute;
    top: 92px;
    left: 22px;
    width: 15px;
    height: 12px;
    background: #ff9800;
    transform-origin: center top;
    animation: beastleg21 1s linear infinite;
    @keyframes beastleg21 {
        10% {
            transform: rotateX(0deg)translateZ(0px)
        }
        20%,
        40%,
        60%,
        80% {
            transform: rotateX(-30deg)translateZ(0px)
        }
        90% {
            transform: rotateX(-30deg)translateZ(0px)
        }
        100% {
            transform: rotateX(-30deg)translateZ(0px)
        }
    }
    .beast-short21 {
        position: absolute;
        top: -17px;
        left: -4px;
        width: 25px;
        height: 20px;
        background: red;
        animation: beastshort21 1s linear infinite;
        @keyframes beastshort21 {
            70%,
            80%,
            100% {}
        }
    }
}

.beast-legguto21 {
    position: absolute;
    top: 102px;
    left: 22px;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    transform: translateZ(260px)translateY(-30px);
    background: red;
    animation: beastlegguto21 1s linear infinite;
    @keyframes beastlegguto21 {
        0%,
        10% {}
        20%,
        40%,
        60%,
        80% {}
        90% {}
        100% {}
    }
}

.beast-lowleg21 {
    position: absolute;
    top: 108px;
    left: 24px;
    width: 10px;
    height: 6px;
    transform: translateZ(260px)translateY(-29px);
    background: red;
    animation: beastlowleg21 1s linear infinite;
    @keyframes beastlowleg21 {
        10% {}
        20%,
        40%,
        60%,
        80% {}
        90% {}
        100% {}
    }
    .beast-shoe21 {
        position: absolute;
        top: 6px;
        left: 0px;
        width: 11px;
        height: 10px;
        background: red;
        transform-origin: center top;
        animation: beastshoe1 1s linear infinite;
        .beast-shoefoot21 {
            position: absolute;
            top: 7px;
            left: 0px;
            width: 11px;
            height: 10px;
            background: red;
            transform-origin: center top;
            animation: beastshoe1 1s linear infinite;
            .beast-shoefootfront21 {
                position: absolute;
                top: 6px;
                left: -4px;
                z-index: -99999;
                width: 10px;
                height: 14px;
                border-radius: 0px 15px;
                background: red;
                -ms-transform: rotate(63deg);
                transform: rotatez(-58deg);
                -ms-transform-origin: center top;
                transform-origin: center top;
                animation: beastshoefootfront21 1s linear infinite;
                @keyframes beastshoefootfront21 {
                    70%,
                    80%,
                    100% {}
                }
            }
        }
    }
}