/*
Error: Undefined mixin 'shanli'.
        on line 498 of ./src/sass/charactor.scss, in `shanli'
        from line 498 of ./src/sass/charactor.scss

493:             border-bottom-left-radius: 5px;
494:             border-bottom-right-radius: 5px;
495:         }
496:     }
497:     .shan-li-horse-hair {
498:         @include shanli(10px, null, null, 24px, 13px);
499:         border-bottom: 15px solid $red6;
500:         border-left: 4px solid transparent;
501:         border-right: 4px solid transparent;
502:         animation: horsehair 1s linear infinite;
503:         @keyframes horsehair {

Backtrace:
./src/sass/charactor.scss:498:in `shanli'
./src/sass/charactor.scss:498
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:352:in `block in visit_mixin'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:98:in `block in with_mixin'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:98:in `with_mixin'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:350:in `visit_mixin'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block (2 levels) in visit_rule'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `map'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:444:in `block in visit_rule'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:442:in `visit_rule'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/rikrik527/.rvm/gems/ruby-2.3.0/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'shanli'.\A         on line 498 of ./src/sass/charactor.scss, in `shanli'\A         from line 498 of ./src/sass/charactor.scss\A \A 493:             border-bottom-left-radius: 5px;\A 494:             border-bottom-right-radius: 5px;\A 495:         }\A 496:     }\A 497:     .shan-li-horse-hair {\A 498:         @include shanli(10px, null, null, 24px, 13px);\A 499:         border-bottom: 15px solid $red6;\A 500:         border-left: 4px solid transparent;\A 501:         border-right: 4px solid transparent;\A 502:         animation: horsehair 1s linear infinite;\A 503:         @keyframes horsehair {"; }
