/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
@import url(../css/normalize.css);
@media screen and (min-width: 901px) and (max-width: 5000px) {
  .l-display-none {
    display: none; } }
@media screen and (min-width: 505px) and (max-width: 900px) {
  .shan-btn,
  .shan-btn2 {
    margin: calc(-28.750em/2) 0 0 calc(-95%/2) !important;
    width: 95% !important;
    background-size: cover !important;
    background-position: 43% !important; }

  .img-slider-boxcontrol {
    left: 69% !important; }

  .machine-arm {
    left: 62% !important; }

  .m-display-none {
    display: none; } }
@media screen and (min-width: 320px) and (max-width: 504px) {
  .xs-menu-text {
    position: absolute;
    font-size: 14px;
    top: 31%;
    color: snow; }

  .xs-menu-line2 {
    position: absolute;
    width: 100%;
    height: 10px;
    background: wheat;
    top: 34%; }

  .xs-menu-line {
    position: absolute;
    width: 100%;
    height: 10px;
    background: wheat;
    top: 21%; }

  .xs-menu-trigger {
    position: absolute;
    width: 46px;
    height: 100px;
    top: 53%;
    left: 78%; }

  .xs-menu {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #ad1457, #f8bbd0);
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start; }

  .header-menu {
    top: 0% !important; }

  .xs-menu-section {
    width: 100vw; }

  .xs-awake,
  .xs-epilogue,
  .xs-location,
  .xs-prologue {
    color: paleturquoise;
    cursor: pointer;
    height: 50px;
    line-height: 50px; }

  .xs-display-none {
    display: none; }

  .header-brand {
    left: 38% !important;
    width: 400px !important; }

  .production {
    top: 85px !important;
    left: 115px !important; }

  #shan-li-image {
    left: 10px !important;
    top: 67px !important; }

  .developer {
    color: transparent !important; }

  .the-game {
    top: 40px !important;
    left: 85px !important; }

  .awake {
    left: 25% !important; }

  .prologue {
    left: 40% !important; }

  .location {
    left: 55% !important; }

  .epilogue {
    left: 70% !important; }

  .shan-btn,
  .shan-btn2 {
    width: 24.5em !important;
    margin: calc(-28.750em/2) 0 0 calc(-24.5em/2) !important;
    background-size: cover !important;
    background-position: 48% 54% !important; }

  .shan-talk {
    width: 36% !important;
    top: 66% !important;
    left: 6% !important; }

  .img-slider-boxcontrol {
    top: 6% !important;
    width: 37% !important;
    height: 41% !important;
    left: 56% !important; }

  .img-outline {
    left: 16% !important;
    top: 6% !important; }

  .right-arrow {
    left: 62% !important;
    animation: rightarrow .5s linear infinite; }
  @keyframes rightarrow {
    50% {
      transform: translateX(-3px); } }
  .left-arrow {
    left: -27% !important;
    animation: leftarrow .5s linear infinite; }
  @keyframes leftarrow {
    50% {
      transform: translateX(3px); } }
  #todo-list {
    width: 64% !important;
    left: 31% !important;
    z-index: 999999999999999; }

  /* form */
  .title-shan {
    top: -1% !important;
    font-size: 30px !important; }
    .title-shan .title-author {
      font-size: 10px;
      top: 22px !important; }

  .sign-up-title {
    width: 177px !important;
    height: 100px !important;
    margin: calc(-100px/2) 0 0 calc(-177px/2) !important;
    left: 58% !important;
    position: absolute;
    z-index: 9999999999999;
    top: 14% !important; } }
/* iphone 6 6s 7 8 */
/* samsung */
/* ipad mini */
/* xpreia */
/* iphone 6 plus */
/* iphone 6*/
/* iphone5 */
/* laptop */
/* laptop 2 */
/* laptop 3*/
/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
a {
  outline: none;
  color: #fff;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

figure {
  position: absolute; }

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none !important; }

body {
  position: relative;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
  font-size: 0; }

.clearfix {
  display: inline-block; }

.clearfix {
  height: 1%; }

.clearfix {
  display: flow-root; }

input[type=button],
input[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

button {
  outline: none; }

iframe:focus {
  outline: none; }

iframe[seamless] {
  display: block; }

input::-webkit-input-placeholder {
  font-size: 12px; }

input[type="textPath"] {
  width: 100%; }

.label-name,
.label-password {
  margin: -21px; }
  .label-name:focus,
  .label-password:focus {
    border: 2px solid #64b5f6; }

#name,
#email,
#passowrd,
#conf-password,
#birthday {
  border-radius: 4px; }

#email,
#password,
#conf-password,
#birthday {
  display: block;
  margin-left: 72px;
  margin-top: -4px;
  width: 279px; }

#name,
#password {
  width: 279px;
  margin-top: 2px;
  margin-left: 19px; }

.label-email,
.label-conf-password,
.label-birthday {
  margin-left: 11px;
  display: block;
  float: left; }

.label-name,
.label-password {
  display: block;
  float: left;
  margin: 8px; }

.title-shan {
  width: 37%;
  height: 4%;
  position: absolute;
  font-family: Arial, Helvetica, sans-serif;
  text-shadow: 3px -3px 1px #ad1457;
  color: #f8bbd0;
  font-size: 60px;
  text-decoration: underline;
  line-height: 18px;
  top: 0%;
  left: 4%; }
  .title-shan .title-author {
    font-size: 12px;
    color: lightblue;
    position: absolute;
    top: 39px;
    left: 1px; }

.sign-up-form {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #c2185b, #f8bbd0);
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center; }
  .sign-up-form .sign-up-title {
    font-size: 20px;
    color: #f8bbd0;
    text-shadow: 1px -1px 3px #ad1457;
    align-self: center;
    text-align: center; }
  .sign-up-form .form-boxcontrol {
    width: 400px;
    height: auto;
    display: block;
    color: pink;
    font-size: 16px;
    border: 1px solid #f8bbd0;
    border-radius: 4px;
    font-size: 12px; }
    .sign-up-form .form-boxcontrol .sign-up-name {
      display: block;
      height: 43px;
      background: darkred;
      /* vertical-align: middle; */
      padding-top: 15px;
      width: 93%;
      float: left;
      border-radius: 10px;
      margin: 3%; }
    .sign-up-form .form-boxcontrol .sign-up-email {
      display: block;
      height: 43px;
      background: darkred;
      /* vertical-align: middle; */
      padding-top: 15px;
      width: 93%;
      float: left;
      border-radius: 10px;
      margin: 3%; }
    .sign-up-form .form-boxcontrol .sign-up-password {
      display: block;
      height: 43px;
      background: darkred;
      /* vertical-align: middle; */
      padding-top: 15px;
      width: 93%;
      float: left;
      border-radius: 10px;
      margin: 3%; }
    .sign-up-form .form-boxcontrol .sign-up-confirm-password {
      display: block;
      height: 43px;
      background: darkred;
      /* vertical-align: middle; */
      padding-top: 15px;
      width: 93%;
      float: left;
      border-radius: 10px;
      margin: 3%; }
    .sign-up-form .form-boxcontrol .sign-up-birthday {
      display: block;
      height: 43px;
      background: darkred;
      /* vertical-align: middle; */
      padding-top: 15px;
      width: 93%;
      float: left;
      border-radius: 10px;
      margin: 3%;
      perspective: 1000px;
      transform-style: preserve-3d; }
      .sign-up-form .form-boxcontrol .sign-up-birthday #consent-container {
        display: none;
        height: 37px;
        background: red;
        padding: 9px 8px;
        width: 78%;
        border-radius: 10px;
        margin: -4px 125px;
        color: azure;
        z-index: 12;
        transform: translateZ(2px); }
        .sign-up-form .form-boxcontrol .sign-up-birthday #consent-container #parent-consent {
          margin-left: 255px; }
    .sign-up-form .form-boxcontrol .bio {
      display: block;
      height: 30px;
      background: #f8bbd0;
      border: 1px solid #c2185b;
      padding: 10px 16px;
      width: 93%;
      float: left;
      border-radius: 10px;
      margin: 6px 10px;
      color: white;
      text-shadow: 1px 1px 1px #c2185b; }
      .sign-up-form .form-boxcontrol .bio .label-bio {
        margin: 59px; }
      .sign-up-form .form-boxcontrol .bio .form-textarea {
        margin: 15px 68px; }
      .sign-up-form .form-boxcontrol .bio #bio-count {
        float: right;
        color: black;
        text-shadow: none;
        margin: -28px 46px; }
    .sign-up-form .form-boxcontrol .submit {
      width: 300px;
      height: 50px;
      background: mediumvioletred;
      float: left;
      display: block;
      border-radius: 16px;
      margin: 26% 12%; }
    .sign-up-form .form-boxcontrol .submit-page {
      background: azure;
      float: left;
      margin: 3%; }
    .sign-up-form .form-boxcontrol .login-page {
      background: azure;
      float: right;
      margin: 3%; }

.btn {
  width: 100px;
  height: 30px;
  color: #ad1457;
  border-radius: 13px;
  border: 1px solid #ad1457;
  text-shadow: 1px 1px 3px white; }
  .btn:hover .login-page {
    background: #f48fb1; }
  .btn:hover .submit-page {
    background: #f48fb1; }

.hide {
  display: "none"; }

.animation-wrong {
  animation: animationwrong .5s linear forwards; }
@keyframes animationwrong {
  20%,
        40%,
        60%,
        80% {
    transform: translateX(-2px); }
  10%,
        30%,
        50%,
        70%,
        90% {
    transform: translateX(2px); } }

/*# sourceMappingURL=form.css.map */
