@import './color';
@import './prefix';
.game-robots {
    width: 100vw;
    margin: 1%;
    /* outline: 1px solid; */
    /* float: left; */
    z-index: 9999999999999999999;
    position: fixed;
    /* margin: calc(-15vh/2) 0 0 calc(-100vw/2); */
    top: 0%;
    /* left: 50%; */
}

.game-status {
    width: 25em;
    height: 2.5rem;
    position: absolute;
    /* float: left; */
    font-size: 10px;
    display: flex;
    /* margin-top: 1rem; */
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    /* margin-left: 1rem; */
    top: 2%;
    left: 3%;
}

.xs-player-experience {
    flex: 50px 2;
    height: 2.5rem;
    line-height: 31px;
    background-color: rgba(200, 00, 100, 0.5);
    text-align: center;
    border: 2px solid hotpink;
    border-radius: 33px;
}

.player-experience {
    color: white;
    position: absolute;
    top: 5px;
}

.xs-player-level {
    flex: 50px;
    height: 2.5rem;
    line-height: 31px;
    background-color: rgba(200, 00, 100, 0.5);
    text-align: center;
    border: 2px solid hotpink;
    border-radius: 100px;
}

.player-level {
    position: absolute;
    left: 91%;
    top: 5px;
    color: white;
}

.player-money {
    position: absolute;
    top: 5px;
    color: white;
}

.xs-player-experience-icon,
.xs-player-money-icon,
.xs-player-level-icon {
    width: 2.5rem;
    height: 2.5rem;
    float: left;
    /* margin-right: -8px; */
    /* position: absolute; */
    background-size: 3500%;
    border-radius: 19px;
    margin: -2px;
    background-image: url('../images/icon2.svg');
}

.xs-player-level-icon {
    background-position: -825px -941px;
}

.xs-player-experience-icon {
    background-position: -825px -998px;
}

.xs-player-money-icon {
    background-position: -825px -882px;
}

.xs-player-money {
    flex: 50px 2;
    height: 2.5rem;
    line-height: 31px;
    background-color: rgba(200, 00, 100, 0.5);
    text-align: center;
    border: 2px solid hotpink;
    border-radius: 100px;
}