/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
a {
  outline: none;
  color: #fff;
  text-decoration: none; }

img {
  max-width: 100%;
  height: auto; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box; }

figure {
  position: absolute; }

ul,
li,
ol {
  margin: 0;
  padding: 0;
  list-style: none !important; }

body {
  position: relative;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none; }

.clearfix:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: "";
  font-size: 0; }

.clearfix {
  display: inline-block; }

.clearfix {
  height: 1%; }

.clearfix {
  display: flow-root; }

input[type=button],
input[type=submit],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

button {
  outline: none; }

iframe:focus {
  outline: none; }

iframe[seamless] {
  display: block; }

progress {
  display: block;
  /* default: inline-block */
  margin: 2em auto;
  padding: 4px;
  border: 0 none;
  background: currentColor;
  border-radius: 14px;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2); }

progress::-moz-progress-bar {
  border-radius: 12px;
  background: currentColor;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3); }

progress::-webkit-progress-bar {
  border-radius: 12px;
  background: currentColor;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3); }

progress::-webkit-progress-bar {
  background: transparent; }

progress::-webkit-progress-value {
  border-radius: 12px;
  box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3); }

input[type='button'],
input[type='submit'],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer; }

.game-robots {
  width: 100vw;
  height: 15vh;
  /* outline: 1px solid; */
  /* float: left; */
  z-index: 9999999999999999999;
  position: fixed;
  /* margin: calc(-15vh/2) 0 0 calc(-100vw/2); */
  top: 0%;
  /* left: 50%; */ }

.game-status {
  width: 25em;
  height: 2rem;
  position: absolute;
  /* float: left; */
  font-size: 10px;
  display: flex;
  /* margin-top: 1rem; */
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-left: 1rem; */
  top: 16%;
  left: 3%; }

.xs-player-experience {
  flex: 50px 2;
  height: 2rem;
  line-height: 31px;
  background-color: rgba(200, 0, 100, 0.5);
  text-align: center;
  border: 2px solid hotpink;
  border-radius: 13px; }

.player-experience {
  color: white; }

.xs-player-level {
  flex: 50px;
  height: 2rem;
  line-height: 31px;
  background-color: rgba(200, 0, 100, 0.5);
  text-align: center;
  border: 2px solid hotpink;
  border-radius: 13px; }

.player-level {
  position: absolute;
  left: 88%;
  top: 5%; }

.xs-player-experience-icon,
.xs-player-money-icon,
.xs-player-level-icon {
  width: 2rem;
  height: 2rem;
  background-color: hotpink;
  float: left;
  /* margin-right: -8px; */
  /* position: absolute; */
  background-size: 2000%;
  border-radius: 19px;
  margin: -2px;
  background-image: url("../images/icon2.svg"); }

.xs-player-level-icon {
  background-position: -120px -325px; }

.xs-player-experience-icon {
  background-position: -68px -326px; }

.xs-player-money-icon {
  background-position: -174px -326px; }

.experience-limit {
  color: coral; }

.xs-player-money {
  flex: 50px 2;
  height: 2rem;
  line-height: 31px;
  background-color: rgba(200, 0, 100, 0.5);
  text-align: center;
  border: 2px solid hotpink;
  border-radius: 13px; }

.aside-tips {
  width: 100%;
  position: absolute;
  /* width: auto; */
  padding: 1%;
  font-size: 12px;
  color: white;
  text-align: center;
  height: auto;
  background: rgba(37, 138, 236, 0.3);
  border-radius: 10px;
  border: 2px solid rgba(255, 238, 236, 0.6);
  z-index: 99;
  top: 72%; }

.aside-boxcontrol {
  width: 25em;
  height: 2rem;
  /* display: flex; */
  position: absolute;
  /* flex-direction: row; */
  /* float: left; */
  font-size: 10px;
  /* margin-top: 8px; */
  /* margin-left: 38px; */
  /* grid-row: 3; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  left: 3%;
  top: 47%;
  /* align-items: flex-start; */
  /* flex-flow: row nowrap; */
  /* align-content: center; */
  /* justify-content: flex-start; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-auto-rows: minmax(34px,auto); */
  /* justify-items: start; */ }
  .aside-boxcontrol .icon-todo {
    border-radius: 100px;
    width: 3rem;
    height: 3rem;
    margin: auto;
    background-image: url("../images/icon2.svg");
    background-position: -697px -603px;
    background-size: 2400%;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 2px;
    transition: all .3s linear; }
    .aside-boxcontrol .icon-todo:before {
      content: '';
      position: absolute;
      width: 10px;
      height: 10px;
      top: 41%;
      background: white;
      box-shadow: 0px 0px 1px 1px lightblue;
      border-radius: 100px;
      animation: todo .5s ease-out infinite;
      left: 35%; }
@keyframes todo {
  from {
    transform: rotatez(0deg) translate(20px); }
  to {
    transform: rotatez(360deg) translate(20px); } }
  .aside-boxcontrol .icon-personal {
    border-radius: 100px;
    background-image: url("../images/icon2.svg");
    width: 2rem;
    height: 2rem;
    margin: auto;
    text-align: center;
    background-position: -293px -341px;
    background-size: 2100%;
    position: absolute;
    top: 8px;
    transition: all 1s linear;
    cursor: pointer; }
  .aside-boxcontrol .icon-service {
    border-radius: 100px;
    width: 2rem;
    height: 2rem;
    margin: auto;
    background-image: url("../images/icon2.svg");
    cursor: pointer;
    background-position: -347px -341px;
    background-size: 2100%;
    position: absolute;
    top: 8px;
    transition: all 1s linear;
    cursor: pointer; }
  .aside-boxcontrol .icon-fix {
    border-radius: 100px;
    background-image: url("../images/icon2.svg");
    width: 2rem;
    height: 2rem;
    margin: auto;
    text-align: center;
    background-position: -239px -341px;
    background-size: 2100%;
    position: absolute;
    top: 8px;
    transition: all 1s linear;
    cursor: pointer; }
  .aside-boxcontrol .icon-submit {
    width: 4rem;
    height: 4rem;
    background: black;
    position: absolute;
    left: 95%;
    top: 123%; }

.icon-calendar {
  top: 33%;
  left: 0%;
  width: 100%;
  height: 50px;
  background: url("../images/icon2.svg"), lightyellow no-repeat;
  text-align: center;
  border: 3px solid pink;
  line-height: 10px;
  background-position: 0px -5px;
  background-size: 400%;
  cursor: pointer; }

.tips {
  position: absolute;
  width: 105px;
  height: auto;
  /* outline: 1px solid #ad1457; */
  border-radius: 3px;
  background: rgba(255, 100, 100, 0.3);
  box-shadow: -1px 1px 8px 3px lightpink;
  color: snow;
  text-align: center;
  font-size: 10px;
  animation: tips 1s linear infinite; }
@keyframes tips {
  50% {
    background: rbga(255, 100, 100, 0.7); } }
.pos {
  left: 21%; }

.pos1 {
  left: 24%; }

.pos2 {
  left: 18%; }

.pos3 {
  left: 24%; }

.pos,
.pos1,
.pos2,
.pos3,
.pos4,
.pos5 {
  display: none;
  animation: pos 1s linear infinite; }
@keyframes pos {
  40% {
    transform: translateX(-1px); }
  80% {
    transform: translateX(1px); } }

/*# sourceMappingURL=header.css.map */
