@import './color';
@media screen and(min-width:901px)and(max-width:5000px) {
    .l-display-none {
        display: none;
    }
}

@media screen and (min-width:505px)and(max-width:900px) {
    .shan-btn,
    .shan-btn2 {
        margin: calc(-28.750em/2) 0 0 calc(-95%/2)!important;
        width: 95%!important;
        background-size: cover!important;
        background-position: 43% !important;
    }
    .img-slider-boxcontrol {
        left: 69%!important;
    }
    .machine-arm {
        left: 62%!important;
    }
    .m-display-none {
        display: none;
    }
    #todo-list {
        left: 68%;
    }
}

@media screen and(min-width:320px)and(max-width:504px) {
    .xs-menu-text {
        position: absolute;
        font-size: 14px;
        top: 31%;
        color: snow;
    }
    .xs-menu-line2 {
        position: absolute;
        width: 100%;
        height: 10px;
        background: wheat;
        top: 34%;
        transform-origin: center right;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .xs-menu-line {
        position: absolute;
        width: 100%;
        height: 10px;
        background: wheat;
        top: 21%;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        transform-origin: center right;
    }
    .xs-menu-trigger {
        position: absolute;
        width: 46px;
        height: 100px;
        top: 0%;
        left: 78%;
        z-index: 999999999;
        cursor: pointer;
    }
    .xs-menu {
        display: none;
        height: 100vh;
        background: linear-gradient(to bottom, #ad1457, #f8bbd0);
        justify-content: center;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
    }
    .header-menu {
        top: 0%!important;
    }
    .xs-menu-section {
        width: 100vw;
    }
    .xs-menu-menu {
        display: flex;
        flex-direction: column;
    }
    .xs-awake,
    .xs-epilogue,
    .xs-location,
    .xs-prologue {
        color: paleturquoise;
        cursor: pointer;
        height: 50px;
        line-height: 50px;
        align-self: center;
    }
    .xs-awake {}
    .xs-prologue {}
    .xs-location {}
    .xs-epilogue {}
    .xs-display-none {
        display: none;
    }
    .header-brand {
        left: 38%!important;
        width: 400px!important;
    }
    .production {
        top: 85px!important;
        left: 30%!important;
    }
    .quote {
        position: absolute;
        top: 106%;
        left: -13%;
        font-size: 10px;
        color: white;
        width: 200px;
    }
    #shan-li-image {
        left: 10% !important;
        top: 67% !important;
        width: 17%!important;
        height: 94%!important;
    }
    .developer {
        color: transparent!important;
    }
    .the-game {
        top: 29% !important;
        left: 19% !important;
        font-size: 8em!important;
    }
    .awake {
        left: 25%!important;
    }
    .prologue {
        left: 40%!important;
    }
    .location {
        left: 55%!important;
    }
    .epilogue {
        left: 70%!important;
    }
    .shan-btn,
    .shan-btn2 {
        width: 24.5em!important;
        margin: calc(-28.750em/2)0 0 calc(-24.5em/2)!important;
        background-size: 245%!important;
        background-position: 48% 61%!important;
    }
    .shan-talk {
        width: 36%!important;
        top: 66%!important;
        left: 6%!important;
    }
    .img-slider-boxcontrol {
        top: 6%!important;
        width: 37%!important;
        height: 41%!important;
        left: 56%!important;
    }
    .img-outline {
        left: 16%!important;
        top: 6%!important;
    }
    .right-arrow {
        left: 62%!important;
        animation: rightarrow .5s linear infinite;
        @keyframes rightarrow {
            50% {
                transform: translateX(-3px)
            }
        }
    }
    .left-arrow {
        left: -27%!important;
        animation: leftarrow .5s linear infinite;
        @keyframes leftarrow {
            50% {
                transform: translateX(3px)
            }
        }
    }
    .pos,
    .pos1,
    .pos2 {}
    #todo-list {
        left: 54%;
        z-index: 999999999999999;
    }
    /* form */
    .title-shan {
        top: -1%!important;
        font-size: 30px!important;
        .title-author {
            font-size: 10px;
            top: 22px!important;
        }
    }
    .sign-up-title {
        width: 177px!important;
        height: 100px!important;
        margin: calc(-100px/2) 0 0 calc(-177px/2)!important;
        left: 58%!important;
        position: absolute;
        z-index: 9999999999999;
        top: 14%!important;
    }
    #name,
    #password {}
    #email,
    #password,
    #conf-password,
    #birthday {}
    .form-boxcontrol {}
    .label-bio {
        margin: null
    }
    .btn {}
}

@media (max-device-width:375px)and(max-device-height:812px) {}


/* iphone 6 6s 7 8 */

@media (max-device-width:414px)and(max-device-height:736px) {}


/* samsung */

@media (max-device-width:360px)and(max-device-height:740px) {}


/* ipad mini */

@media (max-device-width:768px)and(max-device-height:1024px) {}


/* xpreia */

@media (max-device-width:360px)and(max-device-height:640px) {}


/* iphone 6 plus */

@media (max-device-width:414px)and(max-device-height:736px) {}


/* iphone 6*/

@media (max-device-width:375px)and(max-device-height:667px) {}


/* iphone5 */

@media (max-device-width:320px) and (max-device-height:568px) {}


/* laptop */

@media (max-device-width:1280px)and(max-device-height:950px) {}


/* laptop 2 */

@media (max-device-width:1280px)and(max-device-height:800px) {}


/* laptop 3*/

@media (max-device-width:1440px)and(max-device-height:900px) {}