@import './color';
@media screen and(min-width:831px)and(max-width:5000px) {
    .l-display-none {
        display: none;
    }
}

@media screen and (min-width:505px)and(max-width:830px) {
    .m-display-none {
        display: none;
    }
    .main-boxcontrol {
        grid-template-columns: 1fr 1fr!important;
        grid-auto-rows: 24rem!important;
    }
}

@media screen and(min-width:320px)and(max-width:504px) {
    .xs-display-none {
        display: none;
    }
    .main-boxcontrol {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr))!important;
        grid-auto-rows: 24rem!important;
    }
}

@media (max-device-width:360px)and(max-device-height:640px) {
    .todo-list {}
    //main
    .main-boxcontrol {
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr))!important;
        grid-auto-rows: 23rem!important;
    }
    .crazy-boxcontrol {
        top: 37%!important;
        left: 72.5%!important;
    }
    .btn-pos3 {
        left: 69%!important;
        top: 41.5%!important;
    }
    .btn-pos4 {
        left: 64.5%!important;
        top: 55.5%!important;
    }
    .beast-boxcontrol {
        top: 50%!important;
        left: 67%!important;
    }
    .samurai-boxcontrol {
        top: 63%!important;
        left: 59%!important;
    }
    .btn-pos5 {
        left: 68%!important;
        top: 69.5%!important;
    }
    .magic-boxcontrol {
        left: 72%!important;
        top: 80%!important;
    }
    .btn-pos6 {
        left: 65%!important;
        top: 84%!important;
    }
}

@media (max-device-width:640px)and(max-device-height:360px)and(orientation:landscape) {
    .main-boxcontrol {
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr))!important;
        grid-auto-rows: 23rem!important;
    }
}


/* iphone 6 6s 7 8 */

@media (max-device-width:414px)and(max-device-height:736px) {
    .todo-list {}
    .main-boxcontrol {
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr))!important;
        grid-auto-rows: 23rem!important;
    }
    .beast-weapon {
        left: -29%!important;
    }
}


/* samsung */

@media (max-device-width:360px)and(max-device-height:740px) {
    .todo-list {}
    .main-boxcontrol {
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr))!important;
        grid-auto-rows: 23rem!important;
    }
    .beast-weapon {
        left: -29%!important;
    }
}


/* ipad mini */

@media (max-device-width:768px)and(max-device-height:1024px) {
    .main-boxcontrol {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        grid-auto-rows: 23rem;
    }
}

@media (max-device-width:1024px)and(max-device-height:768px)and(orientation:landscape) {
    .main-boxcontrol {
        grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr))!important;
        grid-auto-rows: 23rem!important;
    }
}


/* xpreia */

@media (max-device-width:360px)and(max-device-height:640px) {
    .main-boxcontrol {
        grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
        grid-auto-rows: 23rem;
    }
}


/* iphone 6 plus */

@media (max-device-width:414px)and(max-device-height:736px) {
    .todo-list {
        transform: scale(0.7);
    }
}


/* iphone 6*/

@media (max-device-width:375px)and(max-device-height:667px) {}


/* iphone5 */

@media (max-device-width:320px) and (max-device-height:568px) {}


/* laptop */

@media (max-device-width:1280px)and(max-device-height:950px) {}


/* laptop 2 */

@media (max-device-width:1280px)and(max-device-height:800px) {}


/* laptop 3*/

@media (max-device-width:1440px)and(max-device-height:900px) {}