@import './color';
@import './prefix';
.samurai-btn {
    background: black;
    transform-style: preserve-3d;
    overflow: hidden;
    perspective: 1000px;
    .samurai-lowbox {
        width: 38%;
        height: 100%;
        color: #bbdefb;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: baseline;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        text-shadow: 0px 0px 3px #1565c0;
        .samurai-name {
            display: inline-block;
            width: 100%;
            height: 2em;
            color: white;
            text-align: center;
            line-height: 25px;
            font-size: 10px;
        }
        .samurai-photo {
            width: 100%;
            max-width: 100px;
            align-self: center;
        }
        .samurai-profile {
            font-size: 10px;
        }
        .samurai-status {
            display: block;
            overflow: scroll;
            padding: 2px;
            width: 100%;
            height: auto;
            .samurai-info {
                font-family: "Cutive Mono", monospace;
                font-size: 10px;
                margin: 0 0 0.5em;
                white-space: pre-wrap;
                word-break: break-all;
            }
        }
    }
    .samurai-bg {
        width: 100px;
        height: 100px;
        margin: -50px 0 0 -50px;
        position: absolute;
        top: 70%;
        left: 50%;
        .samurai-bg2 {
            position: absolute;
            top: -62%;
            left: -30%;
            width: 100px;
            /* background-color: red; */
            height: 100px;
            vertical-align: center;
            /* border-radius: 100px; */
            /* background-clip: padding-box; */
            background-size: contain;
            background-origin: content-box;
            background-repeat: no-repeat;
            filter: contrast(108)brightness(46);
            background-image: url('../images/sword.png');
        }
    }
    .samurai-box {}
}

.btn-pos5 {
    line-height: 22px;
    background: ghostwhite;
    font-size: 10px;
    color: red;
    left: 67%;
    top: 11%;
}

.samurai-boxcontrol {
    width: 30px;
    height: 30px;
    top: 41%;
    left: 54%;
    margin: -15px 0 0 -15px;
    cursor: pointer;
    position: absolute;
    perspective: 1000px;
    z-index: 9999;
    transform-style: preserve-3d;
    @include animation(samuraiboxcontrol 3s linear infinite);
    @keyframes samuraiboxcontrol {
        10%,
        30%,
        50%,
        70%,
        90% {
            transform: translateY(-3px)
        }
        20%,
        40%,
        60%,
        80%,
        100% {
            transform: translateY(1px)
        }
    }
}

.samurai-sensor-bottom {
    position: absolute;
    width: 100px;
    height: 200px;
    top: -48px;
    left: 0px;
}

.samurai-head {
    width: 34px;
    height: 13px;
    background: darkred;
    top: 26px;
    left: 36px;
    position: absolute;
    border-radius: 11px 11px 0 0;
    .samurai-hair {
        width: 16px;
        /* height: 30px; */
        /* background: yellow; */
        top: -23px;
        left: 0px;
        position: absolute;
        border-bottom: 30px solid darkred;
        border-left: 5px solid transparent;
        border-right: 10px solid transparent;
        transform-origin: center bottom;
        transform: rotateZ(-6deg)translateZ(0px);
        z-index: -999;
        @include animation(samuraihair 1s linear infinite);
        @keyframes samuraihair {
            40% {
                transform: rotateZ(-35deg);
            }
            80% {
                transform: rotateZ(22deg)
            }
        }
    }
    .samurai-hair2 {
        width: 8px;
        height: 30px;
        background: darkred;
        top: -19px;
        left: 21px;
        position: absolute;
        /* border-bottom: 30px solid yellow; */
        /* border-left: 5px solid transparent; */
        /* border-right: 10px solid transparent; */
        transform-origin: center bottom;
        transform: rotateZ(25deg);
        z-index: -9999999999;
        .samurai-hair3 {
            width: 8px;
            /* height: 30px; */
            /* background: #ffcc80; */
            top: -19px;
            left: -1px;
            border-bottom: 19px solid darkred;
            border-left: 1px solid transparent;
            border-right: 8px solid transparent;
            position: absolute;
            transform-origin: center bottom;
            transform: rotateZ(-27deg);
        }
        .samurai-hair4 {
            width: 8px;
            /* height: 30px; */
            /* background: #ffcc80; */
            top: -28px;
            left: -1px;
            border-bottom: 29px solid darkred;
            border-left: 4px solid transparent;
            border-right: 6px solid transparent;
            position: absolute;
            transform-origin: center bottom;
        }
        .samurai-hair5 {
            width: 5px;
            /* height: 30px; */
            /* background: #ffcc80; */
            top: -18px;
            left: 2px;
            border-bottom: 19px solid darkred;
            border-left: 2px solid transparent;
            border-right: 4px solid transparent;
            position: absolute;
            transform-origin: center bottom;
            transform: rotatez(43deg);
        }
    }
    .samurai-face {
        width: 34px;
        height: 30px;
        background: darkred;
        top: 13px;
        left: 0px;
        position: absolute;
        border-radius: 0 0 18px 15px;
        .samurai-ear {
            width: 15px;
            /* height: 15px; */
            /* background: #ffcc80; */
            top: 2px;
            left: -13px;
            position: absolute;
            border-right: 15px solid darkred;
            border-bottom: 15px solid transparent;
            border-top: 0px solid transparent;
            transform: rotatez(17deg);
            z-index: -999999;
        }
        .samurai-ear2 {
            width: 30px;
            /* height: 30px; */
            /* background: #ffcc80; */
            top: 0px;
            left: 31px;
            position: absolute;
            border-left: 15px solid darkred;
            border-bottom: 15px solid transparent;
            border-top: 0px solid transparent;
            transform: rotatez(-19deg);
        }
        .samurai-eye {
            width: 10px;
            height: 4px;
            background: red;
            top: 11px;
            left: 3px;
            transition: all 1s linear;
            position: absolute;
            border-radius: 0 5px;
            @include animation(samuraieye 1s linear infinite);
            @keyframes samuraieye {
                40% {
                    background: red
                }
                80% {
                    background: black
                }
            }
        }
        .samurai-eye2 {
            width: 10px;
            height: 4px;
            background: red;
            top: 11px;
            left: 18px;
            transition: all 1s linear;
            position: absolute;
            border-radius: 5px 0;
            @include animation(samuraieye2 1s linear infinite);
            @keyframes samuraieye2 {
                40% {
                    background: red
                }
                80% {
                    background: black
                }
            }
        }
        .samurai-mouth {
            .samurai-teeth {}
        }
    }
}

.samurai-neck {
    width: 10px;
    height: 8px;
    background: darkred;
    top: 67px;
    left: 46px;
    position: absolute;
    .samurai-neck-cloth {
        width: 20px;
        height: 8px;
        background: darkred;
        top: 5px;
        left: -4px;
        position: absolute;
    }
}

.samurai-body {
    width: 30px;
    height: 20px;
    background: darkred;
    top: 75px;
    left: 37px;
    position: absolute;
    .samurai-wing {
        width: 30px;
        /* height: 14px; */
        /* background: darkred; */
        top: 0px;
        left: -26px;
        position: absolute;
        border-right: 33px solid darkred;
        border-bottom: 13px solid transparent;
        border-top: 3px solid transparent;
        transform-origin: right center;
        @include animation(samuraiwing 1s linear infinite);
        @keyframes samuraiwing {
            40% {
                transform: rotateZ(34deg)
            }
            80% {
                transform: rotateZ(11deg)
            }
        }
        .samurai-wing2 {
            width: 30px;
            /* height: 30px; */
            /* background: #ffcc80; */
            top: 1px;
            left: -31px;
            position: absolute;
            border-right: 53px solid darkred;
            border-bottom: 0px solid transparent;
            border-top: 11px solid transparent;
            transform: rotatez(0deg);
            transform-origin: right center;
            @include animation(samuraiwing2 1s linear infinite);
            @keyframes samuraiwing2 {
                40% {
                    transform: rotateZ(-9deg)
                }
                80% {
                    transform: rotateZ(-22deg)
                }
            }
            .samurai-wing22 {
                width: 30px;
                /* height: 30px; */
                /* background: #ffcc80; */
                top: -10px;
                left: -23px;
                position: absolute;
                border-right: 67px solid darkred;
                border-bottom: 0px solid transparent;
                border-top: 11px solid transparent;
                transform-origin: right center;
                @include animation(samuraiwing22 1s linear infinite);
                @keyframes samuraiwing22 {
                    40% {
                        transform: rotateZ(-29deg);
                    }
                    80% {
                        transform: rotateZ(-48deg);
                    }
                }
            }
        }
    }
    .samurai-wing3 {
        width: 30px;
        /* height: 30px; */
        /* background: #ffcc80; */
        top: -3px;
        left: 23px;
        position: absolute;
        border-left: 33px solid darkred;
        border-bottom: 3px solid transparent;
        border-top: 13px solid transparent;
        transform-origin: left center;
        @include animation(samuraiwing3 1s linear infinite);
        @keyframes samuraiwing3 {
            40% {
                transform: rotateZ(-46deg)
            }
            80% {
                transform: rotateZ(-16deg)
            }
        }
        .samurai-wing4 {
            width: 30px;
            top: -5px;
            left: -30px;
            position: absolute;
            border-left: 53px solid darkred;
            border-bottom: 0px solid transparent;
            border-top: 11px solid transparent;
            transform-origin: left center;
            @include animation(samuraiwing4 1s linear infinite);
            @keyframes samuraiwing4 {
                40% {
                    transform: rotateZ(21deg)
                }
                80% {
                    transform: rotateZ(27deg)
                }
            }
            .samurai-wing44 {
                width: 30px;
                top: -10px;
                left: -48px;
                position: absolute;
                border-left: 74px solid darkred;
                border-bottom: 0px solid transparent;
                border-top: 11px solid transparent;
                transform-origin: left center;
                @include animation(samuraiwing44 1s linear infinite);
                @keyframes samuraiwing44 {
                    40% {
                        transform: rotateZ(30deg)
                    }
                    80% {
                        transform: rotateZ(43deg)
                    }
                }
            }
        }
    }
    .samurai-belt {
        width: 30px;
        height: 8px;
        background: indianred;
        top: 19px;
        left: 0px;
        position: absolute;
    }
    .samurai-arm {
        width: 14px;
        /* height: 30px; */
        /* background: #ffcc80; */
        top: 3px;
        left: -10px;
        position: absolute;
        border-top: 10px solid darkred;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        transform-origin: right center;
        transform: rotatez(39deg);
        .samurai-bicep {
            width: 13px;
            /* height: 30px; */
            /* background: #ffcc80; */
            top: -1px;
            left: -3px;
            position: absolute;
            border-bottom: 10px solid $deeporange9;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            transform-origin: center top;
            transition: all 1s linear;
            @include animation(samuraibicep 1s linear infinite);
            @keyframes samuraibicep {
                10%,
                30%,
                50%,
                70%,
                90% {
                    border-bottom: 10px solid $deeporange2;
                }
                20%,
                40%,
                60%,
                80%,
                100% {
                    border-bottom: 10px solid $deeporange9;
                }
            }
            .samurai-lowarm {
                width: 13px;
                /* height: 30px; */
                /* background: darkred; */
                top: 9px;
                left: -3px;
                position: absolute;
                border-top: 20px solid $deeporange10;
                border-left: 6px solid transparent;
                border-right: 5px solid transparent;
                transform-origin: center top;
                transition: all 1s linear;
                transform: rotatez(9deg);
                @include animation(samurailowarm 1s linear infinite);
                @keyframes samurailowarm {
                    10%,
                    30%,
                    50%,
                    70%,
                    90% {
                        border-top: 20px solid $deeporange2;
                    }
                    20%,
                    40%,
                    60%,
                    80%,
                    100% {
                        border-top: 20px solid $deeporange9;
                    }
                }
                .samurai-hand {
                    width: 15px;
                    height: 15px;
                    background: $deeporange10;
                    top: -11px;
                    left: -6px;
                    position: absolute;
                    border-radius: 100px;
                    transition: all 1s linear;
                    transform-origin: center top;
                    transform: rotatez(-51deg);
                    @include animation(samuraihand 1s linear infinite);
                    @keyframes samuraihand {
                        10%,
                        30%,
                        50%,
                        70%,
                        90% {
                            background: $deeporange2;
                        }
                        20%,
                        40%,
                        60%,
                        80%,
                        100% {
                            background: $deeporange9;
                        }
                    }
                    .samurai-sword {
                        width: 7px;
                        height: 85px;
                        background: red;
                        top: 11px;
                        left: -6px;
                        position: absolute;
                        border-radius: 0 0 10px 0;
                        transform-origin: center top;
                        transform: rotatez(58deg);
                        transition: all 1s linear;
                        z-index: 9999999;
                        @include animation(samuraisword 1s linear infinite);
                        @keyframes samuraisword {
                            50% {
                                background: $deeporange9;
                            }
                            100% {
                                background: $deeporange2
                            }
                        }
                        .samurai-sword-head {
                            width: 8px;
                            height: 30px;
                            background: #000000;
                            top: -30px;
                            left: 0px;
                            position: absolute;
                            .samurai-sword-deco {
                                width: 14px;
                                height: 13px;
                                background: black;
                                top: 18px;
                                left: -3px;
                                position: absolute;
                            }
                        }
                    }
                }
            }
        }
    }
    .samurai-arm2 {
        width: 14px;
        /* height: 30px; */
        /* background: #ffcc80; */
        top: 3px;
        left: 27px;
        position: absolute;
        border-top: 10px solid darkred;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        transform-origin: left center;
        transform: rotatez(-19deg);
        .samurai-bicep2 {
            width: 13px;
            /* height: 30px; */
            /* background: #ffcc80; */
            top: 0px;
            left: -2px;
            position: absolute;
            border-bottom: 10px solid $deeporange10;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            transform-origin: center top;
            transition: all 1s linear;
            @include animation(samuraibicep2 1s linear infinite);
            @keyframes samuraibicep2 {
                10%,
                30%,
                50%,
                70%,
                90% {
                    border-bottom: 10px solid $deeporange2;
                }
                20%,
                40%,
                60%,
                80%,
                100% {
                    border-bottom: 10px solid $deeporange9;
                }
            }
            .samurai-lowarm2 {
                width: 12px;
                /* height: 30px; */
                /* background: #ffcc80; */
                top: 10px;
                left: -2px;
                position: absolute;
                border-top: 20px solid $deeporange10;
                border-left: 6px solid transparent;
                border-right: 5px solid transparent;
                transform-origin: center top;
                transform: rotatez(0deg);
                transition: all 1s linear;
                @include animation(samurailowarm2 1s linear infinite);
                @keyframes samurailowarm2 {
                    10%,
                    30%,
                    50%,
                    70%,
                    90% {
                        border-top: 20px solid $deeporange2;
                    }
                    20%,
                    40%,
                    60%,
                    80%,
                    100% {
                        border-top: 20px solid $deeporange9;
                    }
                }
                .samurai-hand2 {
                    width: 15px;
                    height: 15px;
                    background: $deeporange10;
                    top: -12px;
                    left: -7px;
                    position: absolute;
                    border-radius: 100px;
                    z-index: 999999;
                    transition: all 1s linear;
                    @include animation(samuraihand2 1s linear infinite);
                    @keyframes samuraihand2 {
                        10%,
                        30%,
                        50%,
                        70%,
                        90% {
                            background: $deeporange2;
                        }
                        20%,
                        40%,
                        60%,
                        80%,
                        100% {
                            background: $deeporange9;
                        }
                    }
                }
            }
        }
    }
}

.samurai-peegu {
    .samurai-sword-cover {
        .samurai-sword-cover-deco {}
    }
    .samurai-line1 {}
    .samurai-line2 {}
    .samurai-line3 {}
    .samurai-line4 {}
    .samurai-leg {
        width: 26px;
        /* height: 30px; */
        /* background: #ffcc80; */
        top: 98px;
        left: 30px;
        border-bottom: 30px solid darkred;
        position: absolute;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        transform-origin: center top;
        .samurai-lowleg {
            width: 12px;
            height: 16px;
            background: darkred;
            top: 30px;
            left: 3px;
            position: absolute;
            transform-origin: center top;
            transform: rotateZ(-10deg);
            @include animation(samurailowleg 2s linear forwards);
            @keyframes samurailowleg {
                10%,
                30%,
                50%,
                70%,
                90% {
                    transform: rotateZ(-10deg)translateX(1px);
                }
                20%,
                40%,
                60%,
                80%,
                100% {
                    transform: rotateZ(-10deg) translateX(-1px)
                }
            }
            .samurai-feet {
                width: 19px;
                height: 10px;
                background: darkred;
                top: 14px;
                left: -7px;
                position: absolute;
                border-radius: 10px 0 0;
                transform-origin: center top;
                transform: rotateZ(-57deg);
                @include animation(samuraifeet 1s linear infinite);
                @keyframes samuraifeet {
                    10%,
                    30%,
                    50%,
                    70%,
                    90% {
                        transform: rotateZ(-57deg)translateX(1px);
                    }
                    20%,
                    40%,
                    60%,
                    80%,
                    100% {
                        transform: rotateZ(-57deg) translateX(-1px)
                    }
                }
            }
        }
    }
    .samurai-leg2 {
        width: 26px;
        top: 98px;
        left: 46px;
        border-bottom: 30px solid darkred;
        position: absolute;
        border-left: 3px solid transparent;
        border-right: 3px solid transparent;
        transform-origin: center top;
        @include animation(samuraileg2 2s linear 1s infinite);
        @keyframes samuraileg2 {
            10%,
            30%,
            50%,
            70%,
            90% {
                transform: rotateZ(-13deg)translateX(1px);
            }
            20%,
            40%,
            60%,
            80%,
            100% {
                transform: rotateZ(-13deg) translateX(-1px)
            }
        }
        .samurai-lowleg2 {
            width: 12px;
            height: 16px;
            background: darkred;
            top: 30px;
            left: 8px;
            position: absolute;
            transform-origin: center top;
            .samurai-feet2 {
                width: 20px;
                height: 10px;
                background: darkred;
                top: 14px;
                left: 0px;
                position: absolute;
                border-radius: 0 10px 0px 0px;
                transform-origin: center top;
                transform: rotateZ(72deg)
            }
        }
    }
    .samurai-tail {
        width: 14px;
        /* height: 30px; */
        /* background: #ffcc80; */
        border-top: 20px solid darkred;
        top: 99px;
        left: 60px;
        position: absolute;
        border-left: 2px solid transparent;
        border-right: 2px solid transparent;
        -webkit-transform-origin: center top;
        -ms-transform-origin: center top;
        transform-origin: center top;
        transform: rotatez(-73deg);
        @include animation(samuraitail 2s ease-in-out infinite);
        @keyframes samuraitail {
            30% {
                transform: rotateZ(-59deg)
            }
            40% {
                transform: rotatez(-72deg);
            }
            50% {
                transform: rotateZ(-50deg)
            }
            60% {
                transform: rotateZ(-28deg)
            }
            70% {
                transform: rotateZ(-50deg)
            }
        }
        .samurai-tail2 {
            width: 14px;
            /* height: 30px; */
            /* background: #ffcc80; */
            border-top: 20px solid darkred;
            top: -1px;
            left: -2px;
            position: absolute;
            border-left: 2px solid transparent;
            border-right: 2px solid transparent;
            -webkit-transform-origin: center top;
            -ms-transform-origin: center top;
            transform-origin: center top;
            transform: rotatez(30deg);
            @include animation(samuraitail2 2s ease-in-out infinite);
            @keyframes samuraitail2 {
                40% {
                    transform: rotateZ(53deg)
                }
                50% {
                    transform: rotatez(58deg)
                }
                60% {
                    transform: rotateZ(-50deg)
                }
                70% {
                    transform: rotateZ(-1deg)
                }
                80% {
                    transform: rotateZ(53deg)
                }
            }
            .samurai-tail3 {
                width: 14px;
                /* height: 30px; */
                /* background: #ffcc80; */
                border-top: 20px solid darkred;
                top: 0px;
                left: -2px;
                position: absolute;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                -webkit-transform-origin: center top;
                -ms-transform-origin: center top;
                transform-origin: center top;
                transform: rotatez(-30deg);
                @include animation(samuraitail3 2s ease-in-out infinite);
                @keyframes samuraitail3 {
                    50% {
                        transform: rotateZ(46deg)
                    }
                    60% {
                        transform: rotatez(-29deg)
                    }
                    70% {
                        transform: rotateZ(-75deg)
                    }
                    80% {
                        transform: rotateZ(-5deg);
                    }
                    90% {
                        transform: rotateZ(-35deg)
                    }
                }
            }
        }
    }
}

.samurai-effect1 {}