/*fashion set 1 smooth*/
/*set2 sun*/
/*set3 grass*/
/* sunday light*/
/* dark storm*/
/* rainbow */
/* pineapple */
/* deep ocean cloud*/
/* color-link */
/* colors in order */
/* in text */
/*fashion set 1 smooth*/
.game-action {
  width: 300px;
  height: 200px;
  outline: 2px solid blue;
  position: absolute;
  margin: -100px 0 0 -150px;
  top: 50%;
  left: 50%;
  display: none; }

#shooting {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 999999; }

.talk-to-yushan {
  width: 2em;
  height: 2em;
  background-image: url("../images/icon2.svg");
  background-size: 3000%;
  background-position: 0px 0px;
  position: absolute;
  outline: 1px solid white;
  z-index: 9999999;
  left: 0px;
  top: 0px;
  cursor: pointer; }

.big-words {
  position: absolute;
  width: 100%;
  line-height: 100px;
  height: 100px;
  margin: -100px 0 0 -50%;
  top: 50%;
  left: -50%;
  text-align: center;
  font-stretch: extra-expanded;
  font-size: 44px;
  background-color: orange;
  color: red;
  text-shadow: 1px 1px 7px darkred; }

.fireball {
  left: 136px;
  top: 193px;
  width: 100px;
  height: 50px;
  position: absolute;
  transform: rotateZ(30deg);
  transition: all .5s ease-in-out;
  display: none;
  background-image: url("../images/icon2.svg");
  background-size: 3000%;
  animation: fireball 0.5s steps(2) infinite; }
@keyframes fireball {
  from {
    background-position: -1266px -1165px; }
  to {
    background-position: -1509px -1165px; } }
.robot-outline {
  position: absolute;
  width: 100px;
  height: 100px;
  /* outline: 1px solid white; */ }
  .robot-outline .robot-saying {
    width: 100px;
    height: 50px;
    background: steelblue;
    position: absolute;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 10px;
    border-radius: 10px;
    left: 91%;
    top: -31%; }
    .robot-outline .robot-saying .robot-speak {
      width: 100%;
      height: auto;
      line-height: 20px;
      /* background: lightblue; */
      color: white;
      padding-left: 3px;
      word-break: break-all;
      text-overflow: ellipsis;
      /* vertical-align: middle; */
      display: block; }
  .robot-outline .robot-triangle {
    border-top: 35px solid steelblue;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    left: 0%;
    top: 84%;
    transform-origin: top;
    transform: rotateZ(52deg); }
  .robot-outline #robot {
    width: 100px;
    height: 100px;
    background-size: 2500%;
    transform: translateX(0px) translateY(0px);
    background-image: url("../images/icon2.svg"); }
  .robot-outline .robot-energy {
    width: 100px;
    background: white;
    height: 10px;
    border-radius: 10px;
    position: absolute; }
    .robot-outline .robot-energy .robot-energy-bar {
      left: 0px;
      height: 10px;
      border-radius: 10px;
      background: #388e3c;
      position: absolute; }
    .robot-outline .robot-energy .icon-energy {
      background-image: url("../images/icon2.svg");
      width: 2.5rem;
      height: 2.5rem;
      position: absolute;
      background-size: 4000%;
      left: -14px;
      top: -23px;
      background-position: -944px -1209px; }

.background-outline {
  position: absolute;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: black;
  z-index: -9999999999999; }
  .background-outline .background {
    background: url("../images/b1.svg");
    background-size: contain;
    background-repeat: repeat-x;
    bottom: 0;
    margin: 0 auto;
    width: 2000px;
    z-index: -9999999;
    height: 200px;
    position: absolute;
    max-height: 500px; }
  .background-outline .background-2 {
    position: absolute;
    width: 100%;
    height: 166px;
    bottom: 0%;
    background: black;
    z-index: -99999999999;
    transition: all 10s linear;
    animation: background2 10s linear infinite; }
@keyframes background2 {
  40% {
    background: orangered; }
  80% {
    background: #c62828; } }
  .background-outline .background-3 {
    background: url("../images/b12.svg") repeat-x;
    background-size: contain;
    bottom: 25%;
    width: 2000px;
    margin: 0 auto;
    height: 200px;
    z-index: -99999999999;
    position: fixed; }

.shanli-outline {
  position: absolute;
  width: 7rem;
  height: 7rem;
  top: 76%;
  left: 70%; }
  .shanli-outline #shan-li {
    width: 7rem;
    height: 7rem;
    background-position: -5px -973px;
    background-size: 1300%;
    transition: all 1s linear;
    transform: translateX(0px) translateY(0px);
    background-image: url("../images/icon2.svg"); }
  .shanli-outline .shanli-energy {
    width: 100px;
    background: #f44336;
    height: 10px;
    border-radius: 10px;
    animation: shanlienergy .5s linear infinite; }
@keyframes shanlienergy {
  40% {
    background: #d32f2f; }
  80% {
    background: #ffcdd2; } }
    .shanli-outline .shanli-energy .shanli-energy-bar {
      width: 20px;
      left: 0px;
      height: 10px;
      border-radius: 10px;
      background: #388e3c;
      position: absolute; }
    .shanli-outline .shanli-energy .energy-pos2 {
      left: -18px;
      top: 89px; }

.energy-pos1 {
  left: -14px;
  top: 77px; }

.aside-tips {
  width: 100%;
  position: absolute;
  /* width: auto; */
  word-break: keep-all;
  padding: 1%;
  font-size: 12px;
  color: white;
  text-align: center;
  height: auto;
  background: rgba(37, 138, 236, 0.3);
  border-radius: 10px;
  border: 2px solid rgba(255, 238, 236, 0.6);
  z-index: 99;
  top: 72%; }

.aside-boxcontrol {
  z-index: 999999999;
  position: absolute;
  /* flex-direction: row; */
  /* float: left; */
  font-size: 10px;
  display: block;
  /* margin-top: 8px; */
  /* margin-left: 38px; */
  /* grid-row: 3; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  left: 6%;
  top: 45%;
  /* align-items: flex-start; */
  /* flex-flow: row nowrap; */
  /* align-content: center; */
  /* justify-content: flex-start; */
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* grid-auto-rows: minmax(34px,auto); */
  /* justify-items: start; */ }
  .aside-boxcontrol .icon-personal {
    background-image: url("../images/icon2.svg");
    width: 2.5rem;
    height: 2.5rem;
    background-position: -704px -654px;
    background-size: 3000%;
    margin: auto;
    position: absolute;
    top: 0px;
    left: -10px;
    transition: all 1s linear;
    cursor: pointer;
    z-index: 99999999; }
  .aside-boxcontrol .icon-service {
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
    background-image: url("../images/icon2.svg");
    cursor: pointer;
    background-position: -704px -607px;
    background-size: 3000%;
    position: absolute;
    top: 50px;
    left: -10px;
    transition: all 1s linear;
    cursor: pointer;
    z-index: 99999999; }
  .aside-boxcontrol .icon-fix {
    background-image: url("../images/icon2.svg");
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
    background-position: -705px -706px;
    background-size: 3000%;
    position: absolute;
    top: 100px;
    left: -10px;
    transition: all 1s linear;
    cursor: pointer;
    z-index: 99999999; }
  .aside-boxcontrol .icon-talk-to-yushan {
    background-image: url("../images/icon2.svg");
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
    background-position: -705px -706px;
    background-size: 3000%;
    position: absolute;
    top: 150px;
    left: -10px;
    transition: all 1s linear;
    cursor: pointer;
    z-index: 99999999; }
  .aside-boxcontrol .icon-submit {
    width: 4rem;
    height: 4rem;
    background: black;
    position: absolute;
    left: 95%;
    top: 123%; }

.icon-calendar {
  top: 33%;
  left: 0%;
  width: 100%;
  height: 50px;
  background: url("../images/icon2.svg"), lightyellow no-repeat;
  text-align: center;
  border: 3px solid pink;
  line-height: 10px;
  background-position: 0px -5px;
  background-size: 400%;
  cursor: pointer; }

.yushan-tips {
  width: auto;
  position: absolute;
  /* width: auto; */
  word-break: keep-all;
  padding: 1%;
  font-size: 12px;
  color: white;
  text-align: center;
  height: auto;
  background: rgba(37, 138, 236, 0.3);
  border-radius: 10px;
  border: 2px solid rgba(255, 238, 236, 0.6);
  z-index: 99;
  top: 72%; }

.tips {
  position: absolute;
  width: 105px;
  height: auto;
  /* outline: 1px solid #ad1457; */
  border-radius: 3px;
  background: rgba(255, 100, 100, 0.3);
  box-shadow: -1px 1px 8px 3px lightpink;
  color: snow;
  text-align: center;
  font-size: 10px;
  animation: tips 1s linear infinite; }
@keyframes tips {
  50% {
    background: rbga(255, 100, 100, 0.7); } }
.pos {
  left: 21%; }

.pos1 {
  left: 24%; }

.pos2 {
  left: 18%; }

.pos3 {
  left: 24%; }

.pos4 {
  left: 30%; }

.pos5 {
  left: 66%;
  top: -30%; }

.pos,
.pos1,
.pos2,
.pos3,
.pos4,
.pos5,
.pos6,
.pos7 {
  display: block;
  animation: pos 1s linear infinite; }
@keyframes pos {
  40% {
    transform: translateX(-1px); }
  80% {
    transform: translateX(1px); } }
.right {
  position: absolute;
  right: -12%;
  width: 25px;
  height: 25px;
  /* background: red; */
  z-index: 99999999;
  top: 300%;
  margin: -12.5px 0 0 -12.5px;
  border-left: 15px solid red;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  cursor: pointer;
  animation: right .5s linear infinite; }
@keyframes right {
  from {
    transform: translateX(1px); }
  to {
    transform: translateX(-1px); } }
.left {
  position: absolute;
  left: 1%;
  width: 25px;
  height: 25px;
  /* background: red; */
  z-index: 99999999;
  top: 300%;
  margin: -12.5px 0 0 -12.5px;
  border-right: 15px solid red;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  cursor: pointer;
  animation: left .5s linear infinite; }
@keyframes left {
  from {
    transform: translateX(-1px); }
  to {
    transform: translateX(1px); } }
.hands0,
.hands1,
.hands2,
.hands3,
.hands4,
.hands5,
.hands6,
.hands7,
.hands8,
.hands9 {
  background-image: url("../images/icon2.svg");
  width: 45px;
  height: 45px;
  float: left;
  cursor: pointer; }

.outside {
  text-align: left;
  width: 250px;
  height: 25px;
  background: blanchedalmond;
  line-height: 25px;
  font-size: 10px;
  color: deeppink; }

.hands0 {
  background: yellow; }

.hands1 {
  background: green; }

.hands2 {
  background: blue; }

.hands3 {
  background: orange; }

.hands4 {
  background: purple; }

.hands5 {
  background: lightcoral; }

.hands6 {
  background: lightgreen; }

.hands7 {
  background: darkmagenta; }

.hands8 {
  background: lightpink; }

.hands9 {
  background: powderblue; }

.arrow-boxcontrol {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 18%;
  left: 3%; }
  .arrow-boxcontrol .love-arrow {
    width: 60px;
    height: 2px;
    background: yellow;
    position: absolute;
    left: 75%;
    top: 54%;
    transform: rotateZ(30deg) translateX(27px);
    display: none; }
  .arrow-boxcontrol .arrow-head {
    width: 10px;
    border-top: 6px solid transparent;
    border-left: 10px solid red;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: -5px;
    right: -7px; }

.touch-boxcontrol {
  position: absolute;
  margin: -0px 0 0 -0px;
  top: 50%;
  left: 76%;
  display: block;
  z-index: 9999999999; }

.power {
  width: 150px;
  height: 20px;
  background: orangered;
  transform: rotateZ(-90deg);
  position: absolute;
  left: -51px;
  top: -151px; }

.handle {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 100, 100, 0.5);
  border-radius: 100px;
  position: absolute;
  top: -27px;
  left: 0px;
  cursor: pointer; }

.todo-list {
  width: 250px;
  height: 300px;
  /* float: left; */
  background-image: url("../images/fix.svg");
  background-repeat: no-repeat;
  overflow: visible;
  display: none;
  margin: -150px 0 0 -125px;
  top: 50%;
  left: 50%;
  z-index: 99999999;
  position: absolute; }
  .todo-list .icon-close-todo {
    width: 25px;
    height: 25px;
    outline: 1px solid;
    float: right;
    margin: 1%; }
  .todo-list .todo-icon {
    position: sticky;
    width: 230px;
    height: 50px;
    background: green;
    display: block;
    float: left; }
  .todo-list .todo-icon-slide {
    width: 500px;
    height: 50px;
    position: absolute;
    transition: all 1s linear; }
  .todo-list .todo-title {
    width: 100%;
    height: 200px;
    background: blue;
    float: left; }
  .todo-list .reset-btn,
  .todo-list .submit-btn {
    font-size: 10px;
    border-radius: 10px;
    width: 50px;
    height: 20px;
    float: right;
    cursor: pointer;
    color: white; }
  .todo-list .reset-btn {
    border: 1px solid lightsalmon;
    background: #e53935; }
  .todo-list .submit-btn {
    border: 1px solid lightcoral;
    background: darksalmon; }

#mp3file {
  display: none; }

#hands {
  position: absolute;
  background-image: url("../images/finger.png") no-repeat;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px; }
  #hands .walk-through {
    max-width: 50%;
    min-width: 150px;
    background: honeydew;
    color: plum;
    text-shadow: 1px 1px 3px #c2185b;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 10px;
    border-radius: 20px;
    border: 1px solid #c2185b;
    float: left;
    clear: left; }

.number {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 35px;
  left: 55px;
  color: white;
  transition: all 1s linear;
  display: none; }

/*# sourceMappingURL=shanbtn.css.map */
