@import './color';
.game-action {
    width: 6.25rem;
    height: 6.25em;
    background-image: url('../images/icon2.svg');
    background-size: 3000%;
    transition: all 1s linear;
    position: absolute;
    display: none;
}

.big-words {
    position: absolute;
    width: 400px;
    height: 200px;
    margin: -100px 0 0 -200px;
    top: 50%;
    text-align: center;
    font-stretch: extra-expanded;
    font-size: 24px;
    background-color: orangered;
}

.fireball {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 26%;
    left: 27%;
    background-image: url('../images/icon2.svg');
    background-size: 5000%;
    background-position: -750px -20px;
}

.robot-outline {
    position: absolute;
    width: 100px;
    height: 100px;
    /* outline: 1px solid white; */
    .robot-saying {
        width: 100px;
        height: 50px;
        background: steelblue;
        position: absolute;
        text-overflow: ellipsis;
        word-break: break-all;
        font-size: 10px;
        border-radius: 10px;
        left: 91%;
        top: -31%;
        .robot-speak {
            width: 100%;
            height: auto;
            line-height: 20px;
            /* background: lightblue; */
            color: white;
            padding-left: 3px;
            word-break: break-all;
            text-overflow: ellipsis;
            /* vertical-align: middle; */
            display: block;
        }
    }
    .robot-triangle {
        border-top: 35px solid steelblue;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        left: 0%;
        top: 84%;
        transform-origin: top;
        transform: rotateZ(52deg);
    }
    #robot {
        width: 100px;
        height: 100px;
        background-size: 2500%;
        transform: translateX(0px) translateY(0px);
        background-image: url('../images/icon2.svg');
    }
    .robot-energy {
        width: 100px;
        background: white;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        .robot-energy-bar {
            width: 100px;
            left: 0px;
            height: 10px;
            border-radius: 10px;
            background: $green8;
            position: absolute;
        }
        .icon-energy {
            background-image: url('../images/icon2.svg');
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            background-size: 4000%;
            left: -14px;
            top: -23px;
            background-position: -944px -1209px;
        }
    }
}

.background-outline {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: black;
    z-index: -9999999999999;
    .background {
        background: url('../images/b1.svg');
        background-size: contain;
        background-repeat: repeat-x;
        bottom: 0;
        margin: 0 auto;
        width: 2000px;
        z-index: -9999999;
        height: 200px;
        position: absolute;
        max-height: 500px;
    }
    .background-2 {
        position: absolute;
        width: 100%;
        height: 166px;
        bottom: 0%;
        background: black;
        z-index: -99999999999;
        transition: all 10s linear;
        animation: background2 10s linear infinite;
        @keyframes background2 {
            40% {
                background: orangered;
            }
            80% {
                background: $red9;
            }
        }
    }
    .background-3 {
        background: url('../images/b12.svg')repeat-x;
        background-size: contain;
        bottom: 25%;
        width: 2000px;
        margin: 0 auto;
        height: 200px;
        z-index: -99999999999;
        position: fixed;
    }
}

.shanli-outline {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: 76%;
    left: 70%;
    #shan-li {
        width: 7rem;
        height: 7rem;
        background-position: -5px -973px;
        background-size: 1300%;
        transition: all 1s linear;
        transform: translateX(0px) translateY(0px);
        background-image: url('../images/icon2.svg');
    }
    .shanli-energy {
        width: 100px;
        background: $red6;
        height: 10px;
        border-radius: 10px;
        animation: shanlienergy .5s linear infinite;
        @keyframes shanlienergy {
            40% {
                background: $red8;
            }
            80% {
                background: $red2;
            }
        }
        .shanli-energy-bar {
            width: 20px;
            left: 0px;
            height: 10px;
            border-radius: 10px;
            background: $green8;
            position: absolute;
        }
        .energy-pos2 {
            left: -18px;
            top: 89px;
        }
    }
}

.energy-pos1 {
    left: -14px;
    top: 77px;
}

.aside-tips {
    width: 100%;
    position: absolute;
    /* width: auto; */
    padding: 1%;
    font-size: 12px;
    color: white;
    text-align: center;
    height: auto;
    background: rgba(37, 138, 236, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(255, 238, 236, 0.6);
    z-index: 99;
    top: 72%;
}

.aside-boxcontrol {
    /* display: flex; */
    z-index: 999999999;
    position: absolute;
    /* flex-direction: row; */
    /* float: left; */
    font-size: 10px;
    /* margin-top: 8px; */
    /* margin-left: 38px; */
    /* grid-row: 3; */
    /* justify-content: flex-start; */
    /* align-items: center; */
    left: 0%;
    top: 109%;
    /* align-items: flex-start; */
    /* flex-flow: row nowrap; */
    /* align-content: center; */
    /* justify-content: flex-start; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    /* grid-auto-rows: minmax(34px,auto); */
    /* justify-items: start; */
    .icon-personal {
        background-image: url('../images/icon2.svg');
        width: 2.5rem;
        height: 2.5rem;
        background-position: -704px -654px;
        background-size: 3000%;
        margin: auto;
        position: absolute;
        top: 0px;
        left: -10px;
        transition: all 1s linear;
        cursor: pointer;
        z-index: 99999999;
    }
    .icon-service {
        width: 2.5rem;
        height: 2.5rem;
        margin: auto;
        background-image: url('../images/icon2.svg');
        cursor: pointer;
        background-position: -704px -607px;
        background-size: 3000%;
        position: absolute;
        top: 0px;
        left: 37px;
        transition: all 1s linear;
        cursor: pointer;
        z-index: 99999999;
    }
    .icon-fix {
        background-image: url('../images/icon2.svg');
        width: 2.5rem;
        height: 2.5rem;
        margin: auto;
        background-position: -705px -706px;
        background-size: 3000%;
        position: absolute;
        top: 0px;
        left: 81px;
        transition: all 1s linear;
        cursor: pointer;
        z-index: 99999999;
    }
    .icon-submit {
        width: 4rem;
        height: 4rem;
        background: black;
        position: absolute;
        left: 95%;
        top: 123%;
    }
}

.icon-calendar {
    top: 33%;
    left: 0%;
    width: 100%;
    height: 50px;
    background: url('../images/icon2.svg'), lightyellow no-repeat;
    text-align: center;
    border: 3px solid pink;
    line-height: 10px;
    background-position: 0px -5px;
    background-size: 400%;
    cursor: pointer;
}

.tips {
    position: absolute;
    width: 105px;
    height: auto;
    /* outline: 1px solid #ad1457; */
    border-radius: 3px;
    background: rgba(255, 100, 100, 0.3);
    box-shadow: -1px 1px 8px 3px lightpink;
    color: snow;
    text-align: center;
    font-size: 10px;
    animation: tips 1s linear infinite;
    @keyframes tips {
        50% {
            background: rbga(255, 100, 100, 0.7);
        }
    }
}

.pos {
    left: 21%;
}

.pos1 {
    left: 24%;
}

.pos2 {
    left: 18%;
}

.pos3 {
    left: 24%;
}

.pos,
.pos1,
.pos2,
.pos3,
.pos4,
.pos5 {
    display: block;
    animation: pos 1s linear infinite;
    @keyframes pos {
        40% {
            transform: translateX(-1px);
        }
        80% {
            transform: translateX(1px);
        }
    }
}

.todo-list {
    width: 250px;
    height: 300px;
    background: yellow;
    float: left;
    overflow: visible;
    display: none;
    margin-left: 130%;
    .icon-close-todo {
        width: 25px;
        height: 25px;
        outline: 1px solid;
        float: right;
        margin: 1%;
    }
    .todo-icon {
        position: sticky;
        width: 250px;
        padding: 2.5px;
        height: 50px;
        background: green;
        display: block;
        float: left;
    }
    .todo-icon-slide {
        width: 500px;
        height: 50px;
        position: absolute;
        transition: all 1s linear;
    }
    .todo-title {
        width: 100%;
        height: 200px;
        background: blue;
        float: left;
    }
    .reset-btn {
        float: right;
        background: orangered;
        border-radius: 10px;
        color: white;
        cursor: pointer;
    }
    .submit-btn {
        float: right;
        background: aliceblue;
        border-radius: 10px;
        border: 1px solid;
        cursor: pointer;
    }
}

.right {
    position: absolute;
    right: -4%;
    width: 25px;
    height: 25px;
    /* background: red; */
    z-index: 99999999;
    top: 25%;
    border-left: 15px solid red;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    cursor: pointer;
}

.left {
    position: absolute;
    left: -5%;
    width: 25px;
    height: 25px;
    /* background: red; */
    z-index: 99999999;
    top: 25%;
    border-right: 15px solid red;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    cursor: pointer;
}

.hands0,
.hands1,
.hands2,
.hands3,
.hands4,
.hands5,
.hands6,
.hands7,
.hands8,
.hands9,
{
    background-image: url('../images/icon2.svg');
    width: 45px;
    height: 45px;
    float: left;
    cursor: pointer;
}

.outside {
    text-align: left;
    width: 250px;
    height: 25px;
    background: blanchedalmond;
    line-height: 25px;
    font-size: 10px;
    color: deeppink;
}

.hands0 {
    background: yellow
}

.hands1 {
    background: green
}

.hands2 {
    background: blue
}

.hands3 {
    background: orange
}

.hands4 {
    background: purple
}

.hands5 {
    background: lightcoral
}

.hands6 {
    background: lightgreen
}

.hands7 {
    background: darkmagenta
}

.hands8 {
    background: lightpink
}

.hands9 {
    background: powderblue
}