@import './color.scss';
.todotips {
    width: 12%;
    height: auto;
    top: -7%;
    padding: 1%;
    font-size: 10px;
    border-radius: 5px;
    border: 2px solid gold;
    position: absolute;
    z-index: 9999999999999;
    color: white;
    background: rgba(250, 200, 0, 0.5);
    box-shadow: 1px 1px 6px gold;
    text-shadow: 0px 0px 3px deepskyblue;
    animation: todotips 1s linear infinite;
    @keyframes todotips {
        30% {
            transform: translateX(-1px);
        }
        60% {
            transform: translateX(1px);
        }
    }
}

.todo-pos1 {
    left: -4%;
}

.todo-pos2 {
    left: 11%;
}

.todo-pos3 {
    left: 26%;
}

.todo-pos4 {
    left: 41%;
}

.todo-pos5 {
    left: 56%;
}

#todo-list {
    width: 100vw;
    height: 92px;
    display: block;
    margin: calc(-92px/2) 0 0 calc(-100vw/2);
    /* background: hotpink; */
    /* border: 2px solid lightpink; */
    position: absolute;
    color: white;
    text-shadow: 1px 1px 4px #fbc02d;
    /* float: right; */
    font-size: 14px;
    text-align: center;
    line-height: 13px;
    top: 47%;
    left: 0%;
    /* padding: 16px; */
    /* border-radius: 11px 11px 0 0; */
    z-index: 999999999;
    .todo-close {
        width: 30px;
        height: 30px;
        padding: 9px;
        cursor: pointer;
        /* position: absolute; */
        /* left: 86%; */
        font-size: 26px;
        /* top: 113%; */
        padding: 3%;
        color: white;
        /* background: #ffee58; */
        /* border: 2px solid darkred; */
        /* border-radius: 100px; */
        z-index: 999999;
        /* float: right; */
        /* margin-top: -12px; */
        /* margin-right: -15px; */
        position: absolute;
        top: -157%;
        left: 135%;
    }
    .todo-add-list {
        width: 350px;
        /* display: block; */
        /* float: left; */
        height: 50px;
        position: absolute;
        /* outline: 1px solid; */
        position: absolute;
        left: 103%;
        margin: calc(-50px/2) 0 0 calc(-250px/2);
        top: -102%;
    }
    .todo1,
    .todo2,
    .todo3,
    .todo4,
    .todo5 {
        width: 50px;
        height: 50px;
        display: block;
        transform: scale(0.8);
        cursor: pointer;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        position: absolute;
        cursor: pointer;
        border: 3px solid lightblue;
        border-radius: 100px;
        &:hover {
            transform: scale(1.2);
        }
    }
    .todo1 {
        background-image: url('../images/icon2.svg');
        background-color: $deep-white;
        background-position: -8px -149px;
        background-size: 445%;
        left: -3%;
        &:hover {
            background: $blue2;
            animation: todo1 .5s steps(4) forwards;
            @keyframes todo1 {
                from {
                    background-position: -8px -149px;
                }
                to {
                    background-position: -153px -149px;
                }
            }
        }
    }
    .todo2 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -50px;
        margin-left: 7%;
        left: 5%;
    }
    .todo3 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -100px;
        margin-left: 14%;
        left: 13%;
    }
    .todo4 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -150px;
        margin-left: 21%;
        left: 21%;
    }
    .todo5 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -200px;
        margin-left: 28%;
        left: 29%;
    }
    .todo-set {
        height: 26px;
        background: linear-gradient(to left, darkcyan, rgba(200, 10, 250, 0.5));
        color: white;
        left: 11%;
        opacity: 0;
        line-height: 20px;
        margin: calc(-26px/2) 0 0 calc(-100vw/2);
        position: absolute;
        top: 121%;
        left: 100%;
        overflow: hidden;
    }
}

.todo-status {
    width: 40%;
    height: 33%;
    background: rgba(190, 90, 100, 0.8);
    position: absolute;
    top: 66%;
    left: 55%;
    border-radius: 0 10px 10px 10px;
    font-size: 10px;
    border: 1px solid pink;
    .upside {}
    #todo-progress {}
}

#todo-submit-btn {
    width: 78px;
    height: 78px;
    background: hotpink;
    font-size: 21px;
    position: absolute;
    top: -33%;
    border: 10px solid lemonchiffon;
    left: 123%;
    border-radius: 100px;
    /* border: 2px solid lightpink; */
    color: white;
    z-index: 999;
    &:hover {
        background: $orange3;
        color: $pink6;
    }
}

#todo-reset-btn {
    width: 48px;
    height: 48px;
    background: darkorange;
    font-size: 10px;
    position: absolute;
    top: 54%;
    left: 126%;
    border: 7px solid brown;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    cursor: pointer;
    &:hover {
        background: $orange3;
        color: $pink6;
    }
}