@import './color.scss';
.todotips {
    width: 12%;
    height: auto;
    top: -7%;
    padding: 1%;
    font-size: 10px;
    border-radius: 5px;
    border: 2px solid gold;
    position: absolute;
    z-index: 9999999999999;
    color: white;
    background: rgba(250, 200, 0, 0.5);
    box-shadow: 1px 1px 6px gold;
    text-shadow: 0px 0px 3px deepskyblue;
    animation: todotips 1s linear infinite;
    @keyframes todotips {
        30% {
            transform: translateX(-1px);
        }
        60% {
            transform: translateX(1px);
        }
    }
}

.todo-pos1 {
    left: -4%;
}

.todo-pos2 {
    left: 11%;
}

.todo-pos3 {
    left: 26%;
}

.todo-pos4 {
    left: 41%;
}

.todo-pos5 {
    left: 56%;
}

.todo-list {
    position: absolute;
    top: 16%;
    left: 36%;
    /* float: right; */
    outline: 3px solid white;
    width: 214px;
    height: 268px;
    z-index: 9999999999;
    .todo-list-title {
        width: 100px;
        height: 30px;
        background: lawngreen;
        position: absolute;
        left: 27%;
        top: 2%;
    }
    .todo-add-list {
        width: 213px;
        /* display: block; */
        /* float: left; */
        height: 270px;
        outline: 1px solid white;
        position: absolute;
        /* outline: 1px solid; */
        position: absolute;
        left: 0%;
        /* margin: calc(-50px/2) 0 0 calc(-250px/2); */
        /* top: -102%; */
    }
    .todo1,
    .todo2,
    .todo3,
    .todo4,
    .todo5 {
        width: 213px;
        height: 50px;
        position: absolute;
        &:hover {
            transform: scale(1.2);
        }
    }
    .todo1 {
        background-image: url('../images/icon2.svg');
        background-color: $deep-white;
        background-position: -8px -149px;
        background-size: 445%;
        left: -3%;
        &:hover {
            background-color: $blue2;
            animation: todo1 .5s steps(3) forwards;
            @keyframes todo1 {
                from {
                    background-position: -8px -149px;
                }
                to {
                    background-position: -151px -149px;
                }
            }
        }
    }
    .todo2 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -50px;
        margin-left: 7%;
        left: 5%;
    }
    .todo3 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -100px;
        margin-left: 14%;
        left: 13%;
    }
    .todo4 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -150px;
        margin-left: 21%;
        left: 21%;
    }
    .todo5 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -200px;
        margin-left: 28%;
        left: 29%;
    }
}

#todo-submit-btn {
    width: 78px;
    height: 78px;
    background: hotpink;
    font-size: 21px;
    position: absolute;
    top: -33%;
    border: 10px solid lemonchiffon;
    left: 123%;
    border-radius: 100px;
    /* border: 2px solid lightpink; */
    color: white;
    z-index: 999;
    &:hover {
        background: $orange3;
        color: $pink6;
    }
}

#todo-reset-btn {
    width: 48px;
    height: 48px;
    background: darkorange;
    font-size: 10px;
    position: absolute;
    top: 54%;
    left: 126%;
    border: 7px solid brown;
    color: white;
    border-radius: 100px;
    cursor: pointer;
    cursor: pointer;
    &:hover {
        background: $orange3;
        color: $pink6;
    }
}

.shanli-status {
    position: absolute;
    top: 16%;
    left: 36%;
    /* float: right; */
    outline: 3px solid white;
    width: 214px;
    height: 268px;
    z-index: 9999999999;
    .shanli-title {
        width: 100px;
        height: 30px;
        background: yellow;
        position: absolute;
        top: 0%;
        left: 25%;
    }
    .shanli-menu {
        width: 200px;
        height: 50px;
        background: red;
        position: absolute;
        top: 12%;
        overflow: hidden;
        .pregress {
            width: 50px;
            height: 50px;
            position: absolute;
            background: beige;
            left: 12px;
        }
        .skill {
            width: 50px;
            height: 50px;
            position: absolute;
            background: beige;
            /* margin: 0 1%; */
            left: 76px;
        }
        .talking {
            width: 50px;
            height: 50px;
            position: absolute;
            background: beige;
            /* margin: 0 1%; */
            left: 138px;
        }
    }
}

.todo-status {
    width: 191px;
    /* display: flex; */
    height: 167px;
    background: rgba(190, 90, 100, 0.8);
    position: absolute;
    top: 87px;
    left: 4px;
    /* border-radius: 0 10px 10px 10px; */
    font-size: 10px;
    /* border: 1px solid pink; */
    /* flex-direction: column; */
    /* flex-wrap: nowrap; */
    /* align-items: center; */
    /* justify-content: flex-start; */
    /* align-content: space-between; */
}

.todo-name-parts {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: orange;
    position: absolute;
    top: 0%;
    left: 0%;
}

.todo-parts {
    &::-webkit-progress-bar {
        background: palegreen;
    }
    &::progress {}
}

.todo-name-iq {
    color: $yellow3;
}

.todo-name-emotion {
    color: $purple3;
}

.todo-name-battery {
    color: $blue3;
}

.todo-name-action {
    color: $red3;
}