@import './color.scss';
.todotips {
    width: auto;
    height: auto;
    top: -7%;
    padding: 1%;
    font-size: 10px;
    border-radius: 5px;
    border: 2px solid gold;
    position: absolute;
    z-index: 9999999999999;
    color: white;
    background: rgba(250, 200, 0, 0.5);
    box-shadow: 1px 1px 6px gold;
    text-shadow: 0px 0px 3px deepskyblue;
    animation: todotips 1s linear infinite;
    @keyframes todotips {
        30% {
            transform: translateX(-1px);
        }
        60% {
            transform: translateX(1px);
        }
    }
}

.todo-pos1 {
    left: -4%;
}

.todo-pos2 {
    left: 16%;
}

.todo-pos3 {
    left: 35%;
}

.todo-pos4 {
    left: 56%;
}

.todo-pos5 {
    left: 76%;
}

#todo-list {
    width: 250px;
    height: 92px;
    display: block;
    background: hotpink;
    border: 2px solid lightpink;
    position: absolute;
    color: white;
    text-shadow: 1px 1px 4px #fbc02d;
    left: 74%;
    font-size: 14px;
    text-align: center;
    line-height: 13px;
    top: 0%;
    padding: 16px;
    border-radius: 11px 11px 0 0;
    z-index: 99999999999999999999999;
    .todo-close {
        width: 30px;
        height: 30px;
        padding: 9px;
        cursor: pointer;
        /* position: absolute; */
        /* left: 86%; */
        /* top: 113%; */
        padding: 3%;
        color: black;
        background: #ffee58;
        border: 2px solid darkred;
        border-radius: 100px;
        z-index: 999999;
        float: right;
        margin-top: -12px;
        margin-right: -15px;
    }
    .todo-add-list {
        width: 250px;
        /* display: block; */
        /* float: left; */
        height: 50px;
        /* outline: 1px solid; */
        position: absolute;
        left: 50%;
        margin: calc(-50px/2) 0 0 calc(-250px/2);
        top: 74%;
        border-radius: 0 0 10px 10px;
    }
    .todo1,
    .todo2,
    .todo3,
    .todo4,
    .todo5 {
        width: 50px;
        height: 50px;
        display: block;
        float: left;
        cursor: pointer;
        transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
        background-blend-mode: lighten;
        &:hover {
            background-color: deeppink;
        }
    }
    .todo1 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: 0px;
    }
    .todo2 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -50px;
    }
    .todo3 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -100px;
    }
    .todo4 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -150px;
    }
    .todo5 {
        background: url('../images/shan-icon.png')no-repeat;
        background-position-x: -200px;
    }
    .todo-set {
        width: 102%;
        height: 20px;
        background: linear-gradient(to left, darkcyan, rgba(200, 10, 250, 0.5));
        color: white;
        left: 11%;
        margin: calc(-21px/2) 0 0 calc(-59px/2);
        position: absolute;
        top: 115%;
        text-align: center;
        font-size: 10px;
        border: 2px solid lightpink;
        overflow: hidden;
        #todo-tip-explan {}
    }
}

.todo-status {
    width: 40%;
    height: 33%;
    background: rgba(190, 90, 100, 0.8);
    position: absolute;
    top: 66%;
    left: 55%;
    border-radius: 10px;
    font-size: 10px;
    border: 1px solid pink;
    .upside {
        width: 20px;
        height: 10px;
        float: left;
        display: block;
        font-size: 10px;
        border-radius: 10px 0 0 0;
    }
    #todo-progress {
        background: $yellow8;
        color: $pink2;
        text-align: center;
    }
}

#todo-submit-btn {
    width: 51%;
    height: 20px;
    background: hotpink;
    font-size: 10px;
    position: absolute;
    top: 126%;
    left: -1%;
    border: 2px solid lightpink;
    color: white;
    &:hover {
        background: $orange3;
        color: $pink6;
    }
}

#todo-reset-btn {
    width: 51%;
    height: 20px;
    background: hotpink;
    font-size: 10px;
    position: absolute;
    top: 126%;
    left: 50%;
    border: 2px solid lightpink;
    color: white;
    &:hover {
        background: $orange3;
        color: $pink6;
    }
}