@import '../color';
@import '../prefix';
.robot-saying {
    width: 24%;
    max-width: 50%;
    max-height: 50%;
    height: 10%;
    position: absolute;
    background: aquamarine;
    border-radius: 30px;
    text-align: center;
    .robot-speak {
        display: inline-block;
        /* background: black; */
        z-index: 8899999;
        font-size: 10px;
        width: 100%;
        height: auto;
        line-break: strict;
        word-break: break-all;
        word-wrap: break-word;
        text-overflow: ellipsis;
        overflow: scroll;
        color: black;
    }
    .robot-triangle {
        position: absolute;
        border-right: 23px solid aquamarine;
        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
        top: 77%;
        left: -9%;
        transform: rotatez(-30deg);
        transition: all 1s linear;
    }
}

.robot-outline {
    position: absolute;
    width: 100px;
    height: 100px;
    #robot {
        width: 100px;
        height: 100px;
        background-size: 4500%;
        background-image: url('../../images/icon2.svg');
        .robot-number {
            width: 10px;
            height: 10px;
            position: absolute;
            top: 35px;
            left: 55px;
            color: #90caf9;
            transition: all 1s linear;
            display: none;
        }
    }
    .robot-energy {
        width: 100px;
        background: white;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        .robot-energy-bar {
            left: 0px;
            height: 10px;
            border-radius: 10px;
            background: #388e3c;
            position: absolute;
            width: 100px;
        }
        .icon-energy {
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            background-image: url('../../images/icon2.svg');
            background-size: 7000%;
            background-position: -2743px -431px;
        }
        .energy-pos1 {
            left: -14px;
            top: -23px;
        }
    }
}

#robot-shake {
    @include animation(robotshake 1s linear infinite);
    @keyframes robotshake {
        40% {
            transform: translateY(-1px);
        }
        80% {
            transform: translateY(1px);
        }
    }
}

.robot-repair-instance {
    background-position: -7px -9px;
}

.robot-normal-instance {
    background-position: -7px -115px;
}

.robot-normal-to-repair {
    @include animation(robotnormaltorepair 1s steps(11) forwards);
    @keyframes robotnormaltorepair {
        from {
            background-position: -7px -115px;
        }
        to {
            background-position: -1127px -115px;
        }
    }
}

.robot-fly-down {
    background-position: -7px -340px;
}

.robot-landing-open-mask {
    @include animation(robotlandingopenmask 1s steps(8) forwards);
    @keyframes robotlandingopenmask {
        from {
            background-position: -7px -340px;
        }
        to {
            background-position: -903px -340px;
        }
    }
}

.robot-fireworks {
    @include animation(robotfireworks 2s steps(8) forwards);
    @keyframes robotfireworks {
        from {
            background-position: -2256px -340px;
        }
        to {
            background-position: -3151px -340px;
        }
    }
}

.robot-1000 {
    width: 100px;
    position: absolute;
    text-align: center;
    color: white;
    @include animation(robot1000 1s linear infinite);
    @keyframes robot1000 {
        from {
            color: white;
            top: 65%;
            opacity: 0;
            font-size: 10px;
        }
        to {
            top: 35%;
            opacity: 1;
            color: yellow;
            font-size: 30px;
        }
    }
}

.robot-that-is-shan {
    @include animation(robotthatisshan 3s steps(26) forwards);
    @keyframes robotthatisshan {
        from {
            background-position: -1px -1356px;
        }
        to {
            background-position: -2924px -1356px;
        }
    }
}

.robot-say-long-story1 {
    @include animation(robotsaylongstory1 3s steps(23) forwards);
    @keyframes robotsaylongstory1 {
        from {
            background-position: -4px -1580px;
        }
        to {
            background-position: -2587px -1580px;
        }
    }
}

.robot-fly-turn {
    @include animation(robotflytrun 1s steps(6));
    @keyframes robotflytrun {
        from {
            background-position: -4px -571px;
        }
        to {
            background-position: -671px -571px;
        }
    }
}

// loveenergy
.robot-cross-get {
    animation: robotcrossget 3s steps(21) forwards;
    @keyframes robotcrossget {
        from {
            background-position: -0px -1240px;
        }
        to {
            background-position: -2364px -1240px;
        }
    }
}

.robot-cross-charging {
    @include animation(robotcrosscharging .3s steps(2) infinite);
    @keyframes robotcrosscharging {
        from {
            background-position: -2138px -1240px;
        }
        to {
            background-position: -2364px -1240px;
        }
    }
}

.robot-normal-to-fight-instance {
    @include animation(robotnormaltofightinstance 2s steps(14) forwards);
    @keyframes robotnormaltofightinstance {
        from {
            background-position: -5px -1464px;
        }
        to {
            background-position: -1581px -1464px
        }
    }
}