<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="icon.png">
    <title>Mr-judo 事務所</title>
</head>


<body>
    <div class="loading">
        <div class="loading-circle">
            <span class="loading-text">Now Loading...</span>
        </div>
    </div>
    <div class="wrapper">
        <section class="header">
            <article class="header-boxcontrol">
                <cite class="mrjudo">MR-JUDO事務所</cite>
                <article class="awake-section">
                    <div class="awake">
                        <div class="awake-border-up"></div>

                        <div class="awake-border-down"></div>

                        <div class="awake-up">Mr-Judo事務所歷史</div>

                        <div class="awake-down">

                            Mr-Judo事務所歷史

                        </div>

                    </div>
                    <div class="prologue">
                        <div class="prologue-border-up"></div>

                        <div class="prologue-border-down"></div>

                        <div class="prologue-up">Mr-Judo事務所短篇故事</div>

                        <div class="prologue-down">

                            Mr-Judo事務所短篇故事

                        </div>






                    </div>
                    <div class="location">

                        <div class="location-border-up"></div>

                        <div class="location-border-down"></div>

                        <div class="location-up">雨珊專區</div>

                        <div class="location-down">

                            雨珊專區

                        </div>





                    </div>
                    <div class="epilogue">
                        <div class="epilogue-border-up"></div>

                        <div class="epilogue-border-down"></div>

                        <div class="epilogue-up">雨珊soundcloud</div>

                        <div class="epilogue-down">

                            雨珊soundcloud

                        </div>







                    </div>
                </article>
            </article>
            <section class="top-menu-box">
                <div class="mr-judo-history">
                    <div class="mr-judo"></div>


                </div>
                <div class="mr-judo-short-story">
                    <div><img id="first"></div>
                    <div><img id="second"></div>
                    <div><img id="third"></div>
                    <div><img id="fourth"></div>
                    <div><img id="fifth"></div>
                    <div><img id="sixth"></div>

                </div>
                <div class="yushan-section">
                    <div class="yushan-title"></div>


                </div>
                <div class="yushan-soundcloud">
                    <div class="yushan-soundcloud-title"></div>
                </div>
            </section>

        </section>
        <section class="main-boxcontrol">
            <div class='judo-btn'>



                <div class="judo-bg">
                    <div class="judo-bg2"></div>
                </div>

                <div class="enter-btn btn-pos1">尚未開放</div>


            </div>
            <div class='shan-btn'>

                <div class="shan-bg">
                    <div class="shan-bg2"></div>
                </div>
                <div class="enter-btn btn-pos2">雨珊-口袋</div>

            </div>

            <div class='crazy-btn'>

                <div class="crazy-bg">
                    <div class="crazy-bg2"></div>
                </div>
                <div class="enter-btn btn-pos3">尚未開放</div>


            </div>


            <div class='beast-btn'>

                <div class="beast-bg">
                    <div class="beast-bg2"></div>
                </div>
                <div class="enter-btn btn-pos4">尚未開放</div>

            </div>


            <div class='samurai-btn'>

                <div class="samurai-bg">
                    <div class="samurai-bg2"></div>
                </div>
                <div class="enter-btn btn-pos5">尚未開放</div>
            </div>




            <div class='magic-btn'>

                <div class="magic-bg">
                    <div class="magic-bg2"></div>
                </div>
                <div class="enter-btn btn-pos6">尚未開放</div>


            </div>



            <div class='nopo-btn'>

                <div class="nopo-bg">
                    <div class="nopo-bg2"></div>
                </div>
                <div class="enter-btn btn-pos7">尚未開放</div>


            </div>




            <article class='nopo-boxcontrol'>
                <div class='nopo-hair'>
                    <div class='nopo-mawei'>
                        <div class='nopo-hair2'></div>
                    </div>
                </div>
                <div class='nopo-face'>
                    <div class='nopo-chink'></div>
                    <div class='nopo-chink2'></div>
                    <div class='nopo-nose'></div>
                    <div class='nopo-nose-left'></div>
                    <div class='nopo-nose-right'></div>
                    <div class='nopo-ear'>
                        <div class='nopo-ear-deco'></div>
                    </div>
                    <div class='nopo-ear2'>
                        <div class='nopo-ear2-deco'></div>
                    </div>
                    <div class='nopo-eyebrow'></div>
                    <div class='nopo-eyebrow2'></div>
                    <div class='nopo-eye'>
                        <div class='nopo-eyeball'></div>
                    </div>
                    <div class='nopo-eye2'>
                        <div class='nopo-eyeball2'></div>
                    </div>
                    <div class='nopo-lips'>
                        <div class='nopo-mouth'>
                            <div class='nopo-teeth'></div>
                        </div>
                        <div class='nopo-lips2'></div>
                    </div>
                    <div class='nopo-jaw'></div>
                </div>
                <div class='nopo-neck'>
                    <div class='nopo-necklace'></div>
                </div>
                <div class='nopo-body'>
                    <div class='nopo-arm'>
                        <div class='nopo-bicep'>
                            <div class='nopo-lowarm'>
                                <div class='nopo-hand'></div>
                            </div>
                        </div>
                    </div>
                    <div class='nopo-arm2'>
                        <div class='nopo-bicep2'>
                            <div class='nopo-lowarm2'>
                                <div class='nopo-hand2'></div>
                            </div>
                        </div>
                    </div>
                    <div class='nopo-mimi'>
                        <div class='nopo-mimi-deco'></div>
                    </div>
                    <div class='nopo-mimi2'>
                        <div class='nopo-mimi2-deco'></div>
                    </div>
                    <div class='nopo-lowbody'>
                        <div class='nopo-fat-left'></div>
                        <div class='nopo-fat-right'></div>
                    </div>
                </div>
                <div class='nopo-peegu'>
                    <div class='nopo-fats'></div>
                    <div class='nopo-fats2'></div>
                    <div class='nopo-skirt'></div>
                    <div class='nopo-leg'>
                        <div class='nopo-lowleg'>
                            <div class='nopo-boot'>
                                <div class='nopo-foot'></div>
                            </div>
                        </div>
                    </div>
                    <div class='nopo-leg2'>
                        <div class='nopo-lowleg2'>
                            <div class='nopo-boot2'>
                                <div class='nopo-foot2'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='nopo-effect1'></div>
                <div class='nopo-effect2'></div>
                <div class='nopo-effect3'></div>
                <div class='nopo-effect4'></div>
                <div class='nopo-effect5'></div>
                <div class='nopo-effect6'></div>
                <div class='nopo-effect7'></div>
            </article>

        </section>
    </div>

</body>

</html>