<!DOCTYPE html>
<html lang="zh_TW">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="icon.png">
    <title>雨珊 artificial intelligence</title>
</head>


<body>
    <div class='loading'>
        <div class='loading-bar'>
            <span class='loading-line'><span class="loading-progress"></span></span>
        </div>
    </div>

    <article class='wrapper'>
        <article class="description"></article>
        <section class="xs-menu-trigger">
            <div class="xs-menu-line"></div>
            <div class="xs-menu-line2"></div>
            <p class="xs-menu-text">設定</p>
        </section>
        <div class="xs-menu">
            <article class="xs-menu-section">
                <ul class="xs-menu-menu">
                    <li class="xs-awake">
                        <li class="music">
                            <span class="icon-music"></span>
                            <input type="button" class="music-btn" value="ON">
                        </li>
                    </li>
                    <li class="xs-prologue">
                        <li class="sound">
                            <span class="icon-sound"></span>
                            <input class="sound-btn" type="button" value="ON">
                        </li>
                    </li>
                    <li class="xs-location"></li>
                    <li class="xs-epilogue"></li>
                </ul>



            </article>
        </div>



        <main class="main-boxcontrol">
            <header class="game-robots">

                <article class="game-status">



                    <div class="xs-player-experience">
                        <div class="xs-player-experience-icon"></div>
                        <span class="player-experience">0</span>
                    </div>
                    <div class="xs-player-money">
                        <div class="xs-player-money-icon"></div>
                        <div class="xs-player-plus"></div>
                        <span class="player-money">0</span></div>
                    <div class="xs-player-level">
                        <div class="xs-player-level-icon"><span class="player-level">0</span></div>
                    </div>

                </article>


            </header>


            <section class="awake-first-section clearfix">
                <ul class="shan-btn">
                    <canvas id="canvas">
															your browswer does not support canvas
                                                    </canvas>
                    <div id='WebGL-output'></div>
                    <div id="stats-output"></div>
                    <div id="hands">
                        <div class="walk-through"></div>
                    </div>


                    <article class="robot-outline">
                        <section class="robot-saying">
                            <div class="robot-speak"></div>
                            <div class="robot-triangle"></div>
                        </section>




                        <div id="robot"></div>
                        <div class="robot-energy"><span class="robot-energy-bar"></span>
                            <div class="icon-energy energy-pos1"></div>
                        </div>
                    </article>

                    <article class="game-action">
                        <canvas id="shooting"></canvas>

                    </article>
                    <section class="touch-boxcontrol">
                        <progress class="power" min="0" max="360"></progress>
                        <div class="handle1">角度</div>
                        <progress class="power-x" max="1000" min="0"></progress>
                        <div class="handle2 handle-pos2">距離</div>
                        <progress class="power-y" max="1000" min="0"></progress>
                        <div class="handle3 handle-pos3">斜度</div>
                        <div class="handle4">射擊</div>
                    </section>

                    <div class="fireball"></div>
                    <div class="love-rose"></div>
                    <div class="big-words"></div>
                    <article class="enemy-outline">
                        <div id="enemy"></div>

                    </article>

                    <article class="shanli-outline">
                        <div id="shan-li"></div>


                        <div class="shanli-energy"><span class="shanli-energy-bar"></span>
                            <div class="icon-energy energy-pos2"></div>

                        </div>
                    </article>


                    <article class="background-outline">
                        <div class="background">

                        </div>
                        <div class="background-2"></div>
                        <div class="background-3"></div>
                        <div class="background-4"></div>
                    </article>

                    <section class="todo-list">
                        <span class="icon-close-todo"></span>
                        <div class="todo-icon">
                            <div class="right"></div>
                            <div class="left"></div>
                            <div class="todo-icon-slide">

                                <span class="hands0"></span>
                                <span class="hands1"></span><span class="hands2"></span><span class="hands3"></span><span class="hands4"></span><span class="hands5"></span><span class="hands6"></span><span class="hands7"></span><span class="hands8"></span>
                                <span class="hands9"></span>
                            </div>
                        </div>
                        <ul class="todo-title">


                        </ul>
                        <input type="reset" class="reset-btn" value="">
                        <input type="submit" class="submit-btn" value="">
                    </section>
                    <section class="robot-dialog">
                        <ul class="icon-ask">
                            <li class="icon-how">
                                <span class="yushan-tips pos6">
           查看雨珊的狀況
        </span>
                            </li>
                            <li class="icon-deploy">
                                <span class="yushan-tips pos7">
            部署自動防衛機器人
        </span>
                            </li>
                            <li class="icon-interactive">
                                <span class="yushan-tips">
            進入雨珊溝通模式
        </span>
                            </li>
                        </ul>

                    </section>








                    </div> <br clear:both/>
            </section>
            <section class="awake-second-section">
                <div class="shan-btn-2"></div>
            </section>
            <section class="awake-third-section">
                <div class="shan-btn-3"></div>
            </section>
            <section class="awake-fourth-section">
                <div class="shan-btn-4"></div>
            </section>
            <section class="awake-fifth-section">
                <div class="shan-btn-5"></div>
            </section>
            <section class="prologue-first-section">
                <div class="shan-btn-prologue">
                    <div id="track">
                        <div id="slider"></div>
                    </div>

                    <article class="image-slider">
                        <h2 class="image-title">Display image slider</h2>
                        <div class="myslides1" style="width:100%"></div>
                        <div class="myslides2" style="width:100%"></div>
                        <div class="myslides3" style="width:100%"></div>
                        <div class="myslides4" style="width:100%"></div>
                        <button class="next-img-btn">&#10094;</button>
                        <button class="prev-img-btn">&#10095;</button>
                        <div class="dot-container">
                            <span class="dot1"></span>
                            <span class="dot2"></span>
                            <span class="dot3"></span>
                            <span class="dot4"></span>

                        </div>
                    </article>


                </div>
            </section>
            <section class="location-first-section">
                <div class="shan-btn-location"></div>
            </section>
            <section class="epilogue-first-section">
                <div class="shan-btn-epilogue"></div>
            </section>




            <footer class='footer-boxcontrol clearfix'>
                <div id="footer-content">
                    <div class="audio-visualizer">
                        <canvas id='music' width="100" height="50"></canvas>
                        <div id="music-info"></div>
                    </div>
                    <audio>
<source id="mp3file" type="audio/mpeg">

                </audio>
                    <input type="button" class="history-btn" value="history">
                    <div class="history-board"></div>
                    <div class="icon-record"> </div>
                    <div class="talk-to-yushan"></div>
                    <div class="icon-look"></div>
                    <div class="icon-latest-update">
                        <span class="yushan-tips pos5">更新紀錄</span>
                    </div>


                    <div class="icon-photo">

                    </div>
                    <div class="icon-3d"></div>





                </div>
            </footer>
            <aside>
                <article class='aside-boxcontrol'>








                    <div class='nav icon-personal'>

                        <span class="aside-tips pos1">戰鬥</span>

                    </div>

                    <div class='nav icon-service'>

                        <span class="aside-tips pos2">挖礦
                        </span>



                    </div>
                    <div class="nav icon-fix">
                        <span class="aside-tips pos3">修理</span>

                    </div>
                    <div class="icon-talk-to-yushan">
                        <span class="yushan-tips pos4">找雨珊談談</span>

                    </div>

                </article>
            </aside>

        </main>
    </article>
</body>

</html>