@import './color';
$px780:48.750em;
$px700:43.750em;
$px620:38.750em;
$px460:28.750em;
$px400:25em;
$px230:14.375em;
$per476:47.6%;
$per227:22.7%;
$per50: 50%;
$per47: 47%;
$per100:100%;
$px1000:62.500em;
$per14:14.28571428571429%;
$per7:7.142857142857145%;
$per3:3.571428571428573%;
$px1156:72.250em;
$per5:5.28571%;
$per8:8.25%;
$num3:3.8;
$p8:8%;
$p10:10%;
@for $i from 0 through 9 {
    .ball#{$i} {
        top: 5px * $i;
        left: 5px * $i;
        transition: all 1s*$i linear;
    }
}

a {
    outline: none;
    color: #fff;
    text-decoration: none;
}

body {
    overscroll-behavior-y: contain;
}

img {
    max-width: 100%;
    height: auto;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

figure {
    position: absolute;
}

ul,
li,
ol {
    margin: 0;
    padding: 0;
    list-style: none!important;
}

body {
    position: relative;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
    font-size: 0;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    height: 1%;
}

.clearfix {
    display: flow-root;
}

input[type=button],
input[type=submit],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

button {
    outline: none;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

progress {
    display: block;
    /* default: inline-block */
    margin: 2em auto;
    padding: 4px;
    border: 0 none;
    background: currentColor;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.2);
}

progress::-moz-progress-bar {
    border-radius: 12px;
    background: currentColor;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

progress::-webkit-progress-bar {
    border-radius: 12px;
    background: currentColor;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background-color: yellow;
    border-radius: 12px;
    box-shadow: inset 0 -2px 4px rgba(0, 0, 0, 0.4), 0 2px 5px 0px rgba(0, 0, 0, 0.3);
}

input[type='button'],
input[type='submit'],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

@mixin transform($rx, $ry, $rz, $tx, $ty, $tz) {
    transform: rotateX($rx);
    transform: rotatey($ry);
    transform: rotatez($rz);
    transform: translateX($tx);
    transform: translatey($ty);
    transform: translatez($tz);
    -webkit-transform: rotatex($rx);
    -o-transform: rotateX($rx);
    -webkit-transform: rotatey($ry);
    -o-transform: rotatey($ry);
    -webkit-transform: rotatez($rz);
    -o-transform: rotatez($rz);
    -webkit-transform: translatex($tx);
    -o-transform: translateX($tx);
    -webkit-transform: translatey($ty);
    -o-transform: translatey($ty);
    -webkit-transform: translatez($tz);
    -o-transform: translatez($tz);
}

@mixin preserved-3d() {
    -webkit-transform-style: preserved-3d;
    transform-style: preserve-3d;
}

@mixin shanli($slw, $slh, $slbg, $slt, $sll) {
    position: absolute;
    top: $slt;
    left: $sll;
    width: $slw;
    height: $slh;
    background: $slbg;
}

@mixin border-radius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

@mixin border-radiuses ($topright, $bottomright, $bottomleft, $topleft) {
    -webkit-border-top-right-radius: $topright;
    -webkit-border-bottom-right-radius: $bottomright;
    -webkit-border-bottom-left-radius: $bottomleft;
    -webkit-border-top-left-radius: $topleft;
    -moz-border-radius-topright: $topright;
    -moz-border-radius-bottomright: $bottomright;
    -moz-border-radius-bottomleft: $bottomleft;
    -moz-border-radius-topleft: $topleft;
    border-top-right-radius: $topright;
    border-bottom-right-radius: $bottomright;
    border-bottom-left-radius: $bottomleft;
    border-top-left-radius: $topleft;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

@mixin perspective ($value) {
    -webkit-perspective: $value;
    -moz-perspective: $value;
    -ms-perspective: $value;
    perspective: $value;
}

@mixin transform-origin ($x, $y) {
    -webkit-transform-origin: $x $y;
    -moz-transform-origin: $x $y;
    -ms-transform-origin: $x $y;
    -o-transform-origin: $x $y;
}

@mixin animation($params) {
    -webkit-animation: $params;
    -moz-animation: $params;
    -ms-animation: $params;
    animation: $params;
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin status($r1, $r2) {
    display: block;
    overflow: scroll;
    padding: 2px;
    width: 100%;
    height: 12em;
    background: repeating-linear-gradient(to right, $r1, $r2);
}

@mixin s($sw, $sh, $sb, $st, $sf) {
    position: absolute;
    top: $st;
    left: $sf;
    width: $sw;
    height: $sh;
    background: $sb;
}

@mixin cd($cdw, $cdh, $cdb) {
    position: absolute;
    top: 0px;
    left: 0px;
    width: $cdw;
    height: $cdh;
    background: $cdb;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: "";
    font-size: 0;
}

.clearfix {
    display: inline-block;
}

.clearfix {
    height: 1%;
}

.clearfix {
    display: flow-root;
}

input[type='button'],
input[type='submit'],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
}

button {
    outline: none;
}

iframe:focus {
    outline: none;
}

iframe[seamless] {
    display: block;
}

@mixin mainboxcontrol {
    display: block;
    float: left;
    margin: 10px 10px 5px 5px;
    width: $per47;
    outline: 1px solid;
}

@mixin judo($w, $h, $bg, $t, $l, $rz, $rx, $name, $sec) {
    position: absolute;
    top: $t;
    left: $l;
    width: $w;
    height: $h;
    background: $bg;
    transform: rotatez($rz)rotateX($rx);
    animation: $name $sec linear infinite;
}

@mixin space($ws, $wh, $wg, $wt, $wl) {
    position: absolute;
    top: $wt;
    left: $wl;
    width: $ws;
    height: $wh;
    background: $wg;
    animation: bump .5s linear infinite;
}

@mixin crazy($cw, $ch, $cb, $ct, $cl) {
    position: absolute;
    top: $ct;
    left: $cl;
    width: $cw;
    height: $ch;
    background: $cb;
}

@mixin lowname() {
    display: inline-block;
    width: 100%;
    height: 2em;
    padding: 1px;
    color: black;
    text-align: center;
    font-size: 14px;
    line-height: 23px;
}

@mixin input($inputop, $inputleft, $bgcolor, $color) {
    position: absolute;
    top: $inputop;
    left: $inputleft;
    width: 10%;
    height: auto;
    font-size: 12px;
    transition: all 1.5s linear;
    background: $bgcolor;
    color: $color;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

@mixin radius($radius) {
    -moz-border-radius: $radius;
    -o-border-radius: $radius;
    -ms-border-radius: $radius;
    -webkit-border-radius: $radius;
}

@mixin photo() {
    display: inline-block;
    width: 100%;
}

@mixin btn ($btnwidth, $btnheight, $btntop, $btnleft) {
    position: absolute;
    width: $btnwidth;
    height: $btnheight;
    margin: 1%;
    transition: all .3s linear;
    top: $btntop;
    left: $btnleft;
    padding: 1%;
}

@mixin lowbox($lwidth, $lheight, $ltop, $lleft) {
    position: absolute;
    width: $lwidth;
    height: $lheight;
    overflow: hidden;
    top: $ltop;
    left: $lleft;
    transition: all .3s linear;
    font-family: "Cutive Mono", monospace;
}

@mixin btnz($btnzw, $btnzh, $btnzt, $btnzl) {
    position: absolute;
    top: $btnzt;
    left: $btnzl;
    display: block;
    margin: -150px 0 0 -100px;
    width: $btnzw!important;
    height: $btnzh!important;
}

@mixin judo-effect() {
    position: absolute;
    top: 92px;
    left: 11px;
    width: 10px;
    height: 10px;
    color: white;
    text-shadow: 0px 0px 3px cyan;
    font-weight: bolder;
    font-size: 12px;
    font-family: sans-serif;
}