@import './color';
.game-action {}

#shooting {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
}

.talk-to-yushan {
    width: 2em;
    height: 2em;
    background-image: url('../images/icon2.svg');
    background-size: 3000%;
    background-position: 0px 0px;
    position: absolute;
    outline: 1px solid white;
    z-index: 9999999;
    left: 0px;
    top: 0px;
    cursor: pointer;
}

.big-words {
    position: absolute;
    width: 100%;
    line-height: 100px;
    height: 100px;
    margin: -100px 0 0 -50%;
    top: 50%;
    left: -50%;
    text-align: center;
    font-stretch: extra-expanded;
    font-size: 44px;
    background-color: rgba(37, 138, 236, 0.3);
    color: red;
    text-shadow: 1px 1px 7px darkred;
}

.fireball {
    left: 16%;
    top: 24%;
    width: 100px;
    height: 50px;
    position: absolute;
    transform: rotateZ(30deg);
    transition: all .5s ease-in-out;
    // top: 26%;
    // left: 27%;
    display: none;
    background-image: url('../images/icon2.svg');
    background-size: 4500%;
    animation: fireball .5s steps(6) infinite;
    @keyframes fireball {
        from {
            background-position: -2701px -1280px;
        }
        to {
            background-position: -3374px -1280px;
        }
    }
}

.ball0,
.ball1,
.ball2,
.ball3,
.ball4,
.ball5,
.ball6,
.ball7,
.ball8,
.ball9 {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    transition: all 3s linear;
    background: $red7;
    margin: 2%;
}

.background-outline {
    position: absolute;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: black;
    z-index: -9999999999999;
    .background {
        background: url('../images/b1.svg');
        background-size: contain;
        background-repeat: repeat-x;
        bottom: 0;
        margin: 0 auto;
        width: 10000px;
        left: -100%;
        z-index: -9999999;
        height: 200px;
        position: fixed;
        max-height: 500px;
    }
    .background-2 {
        position: fixed;
        width: 100%;
        height: 166px;
        bottom: 3%;
        background: black;
        z-index: -99999999999;
        transition: all 10s linear;
        animation: background2 10s linear infinite;
        @keyframes background2 {
            40% {
                background: orangered;
            }
            80% {
                background: $red9;
            }
        }
    }
    .background-3 {
        background: url('../images/b12.svg')repeat-x;
        background-size: contain;
        bottom: 18%;
        z-index: -9999999999999;
        width: 10000px;
        left: -100%;
        margin: 0 auto;
        height: 200px;
        position: fixed;
    }
    .background-4 {
        background-image: url('../images/mars.png');
        width: 300px;
        height: 300px;
        position: fixed;
        right: 0px;
        top: 150px;
        background-size: contain;
        background-repeat: no-repeat;
        z-index: -9999999999999;
    }
}

.aside-tips {
    width: 100%;
    position: absolute;
    /* width: auto; */
    word-break: keep-all;
    padding: 1%;
    font-size: 12px;
    color: white;
    text-align: center;
    height: auto;
    background: rgba(37, 138, 236, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(255, 238, 236, 0.6);
    z-index: 99;
    top: 72%;
}

.yushan-tips {
    width: auto;
    position: absolute;
    /* width: auto; */
    word-break: keep-all;
    padding: 1%;
    font-size: 12px;
    color: white;
    text-align: center;
    height: auto;
    background: rgba(37, 138, 236, 0.3);
    border-radius: 10px;
    border: 2px solid rgba(255, 238, 236, 0.6);
    z-index: 99;
    top: 72%;
}

.tips {
    position: absolute;
    width: 105px;
    height: auto;
    /* outline: 1px solid #ad1457; */
    border-radius: 3px;
    background: rgba(255, 100, 100, 0.3);
    box-shadow: -1px 1px 8px 3px lightpink;
    color: snow;
    text-align: center;
    font-size: 10px;
    animation: tips 1s linear infinite;
    @keyframes tips {
        50% {
            background: rbga(255, 100, 100, 0.7);
        }
    }
}

.pos {
    left: 21%;
}

.pos1 {
    left: 24%;
}

.pos2 {
    left: 18%;
}

.pos3 {
    left: 24%;
}

.pos4 {
    left: 30%;
}

.pos5 {
    left: 66%;
    top: -30%;
}

.pos,
.pos1,
.pos2,
.pos3,
.pos4,
.pos5,
.pos6,
.pos7 {
    display: block;
    animation: pos 1s linear infinite;
    @keyframes pos {
        40% {
            transform: translateX(-1px);
        }
        80% {
            transform: translateX(1px);
        }
    }
}

.right {
    position: absolute;
    right: -12%;
    width: 25px;
    height: 25px;
    /* background: red; */
    z-index: 99999999;
    top: 300%;
    margin: -12.5px 0 0 -12.5px;
    border-left: 15px solid red;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    cursor: pointer;
    animation: right .5s linear infinite;
    @keyframes right {
        from {
            transform: translateX(1px)
        }
        to {
            transform: translateX(-1px)
        }
    }
}

.left {
    position: absolute;
    left: 1%;
    width: 25px;
    height: 25px;
    /* background: red; */
    z-index: 99999999;
    top: 300%;
    margin: -12.5px 0 0 -12.5px;
    border-right: 15px solid red;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    cursor: pointer;
    animation: left .5s linear infinite;
    @keyframes left {
        from {
            transform: translateX(-1px)
        }
        to {
            transform: translateX(1px)
        }
    }
}

.hands0,
.hands1,
.hands2,
.hands3,
.hands4,
.hands5,
.hands6,
.hands7,
.hands8,
.hands9,
{
    background-image: url('../images/icon2.svg');
    width: 50px;
    height: 50px;
    float: left;
    cursor: pointer;
}

.outside {
    text-align: left;
    width: 250px;
    height: 25px;
    background: blanchedalmond;
    line-height: 25px;
    font-size: 10px;
    color: deeppink;
}

.hands0 {
    background: yellow
}

.hands1 {
    background: green
}

.hands2 {
    background: blue
}

.hands3 {
    background: orange
}

.hands4 {
    background: purple
}

.hands5 {
    background: lightcoral
}

.hands6 {
    background: lightgreen
}

.hands7 {
    background: darkmagenta
}

.hands8 {
    background: lightpink
}

.hands9 {
    background: powderblue
}

.touch-boxcontrol {
    position: absolute;
    margin: -0px 0 0 -0px;
    top: 50%;
    left: 67%;
    z-index: 9999999999;
}

.power {
    width: 150px;
    height: 20px;
    background: aliceblue;
    transform: rotateZ(-90deg);
    position: absolute;
    left: -8px;
    top: -101px;
}

.handle1,
.handle2,
.handle3 {
    width: 50px;
    height: 50px;
    background-color: rgba(255, 100, 100, 0.5);
    border-radius: 100px;
    position: absolute;
    top: -27px;
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.handle4 {
    width: 90px;
    height: 50px;
    background-color: $yellow6;
    border-radius: 30px;
    position: absolute;
    top: 33px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    line-height: 50px;
}

.handle4 {
    left: 25px;
}

.handle3 {
    left: 84px;
}

.handle2 {
    left: 42px;
}

.handle1 {
    left: 0px;
}

#mp3file {
    display: none;
}

#hands {
    position: absolute;
    background-image: url('../images/finger.png')no-repeat;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 0px;
    .walk-through {
        max-width: 50%;
        min-width: 150px;
        background: honeydew;
        color: plum;
        text-shadow: 1px 1px 3px $pink8;
        text-overflow: ellipsis;
        word-break: break-all;
        font-size: 10px;
        border-radius: 20px;
        border: 1px solid $pink8;
        float: left;
        clear: left;
    }
}

.cross-hair {
    width: 50px;
    height: 50px;
    margin: -25px 0 0 -25px;
    left: 50%;
    top: 50%;
    border-radius: 100px;
    background: radial-gradient(transparent, 58%, blue, 49%, blue);
    position: absolute;
    transition: all .2s linear;
    z-index: 999999999;
    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 5px;
        background: blue;
        left: 0%;
        top: 46%;
    }
    &:after {
        content: '';
        position: absolute;
        width: 5px;
        height: 50px;
        background: blue;
        left: 46%;
        top: 0%;
    }
}

.robot-saying {
    min-width: 100%;
    max-width: 50%;
    max-height: 50%;
    min-height: 100%;
    background: steelblue;
    position: absolute;
    text-overflow: ellipsis;
    word-break: break-all;
    font-size: 10px;
    @include border-radius(10px);
    top: -31%;
    left: 91%;
    .robot-speak {
        width: 100%;
        height: auto;
        color: white;
        padding-left: 3px;
        word-break: break-all;
        display: block;
    }
    .robot-triangle {
        border-top: 35px solid steelblue;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        position: absolute;
        left: 0%;
        top: 84%;
        transform-origin: top;
        transform: rotateZ(52deg);
    }
}